{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoom Contact Center API",
    "description": "Contact Center",
    "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/"
    },
    "version": "2"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "https://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2"
    }
  ],
  "paths": {
    "/contact_center/address_books": {
      "get": {
        "tags": [
          "Address Books"
        ],
        "summary": "List address books",
        "description": "Use this API to return all address books. \n\n \n\n**Scopes:** `contact_center_contact:read:admin`\n\n**Granular Scopes:** `contact_center:read:list_address_books:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`",
        "operationId": "listAddressBooks",
        "parameters": [
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "format": "int32",
              "example": 30,
              "default": 30
            }
          },
          {
            "name": "unit_id",
            "in": "query",
            "description": "The address book unit's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Address books list returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                    },
                    "page_size": {
                      "maximum": 300,
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 30,
                      "default": 30
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 1
                    },
                    "address_books": {
                      "type": "array",
                      "description": "Information about the address books.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_book_id": {
                            "type": "string",
                            "description": "The address book's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "address_book_name": {
                            "type": "string",
                            "description": "The address book's name.",
                            "example": "Address Book"
                          },
                          "address_book_description": {
                            "type": "string",
                            "description": "The address book's description.",
                            "example": "This is an address book."
                          },
                          "total_contacts": {
                            "type": "integer",
                            "description": "The address book's total number of contacts.",
                            "example": 30
                          },
                          "unit_id": {
                            "type": "string",
                            "description": "The address book unit's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "unit_name": {
                            "type": "string",
                            "description": "The address book unit's name.",
                            "example": "Unit"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `1902` <br>\nThe \"unit_id\" field cannot be an empty value.\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:read:admin",
              "contact_center:read:list_address_books:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:list_address_books:admin"
          ]
        }
      },
      "post": {
        "tags": [
          "Address Books"
        ],
        "summary": "Create an address book",
        "description": "Use this API to create an [address book](https://support.zoom.us/hc/en-us/articles/4471544949389). An address book is a collection of consumer information like display names, phone numbers, and locations. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:write:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "createAddressBook",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unit_id": {
                    "type": "string",
                    "description": "The address book's unit ID.",
                    "example": "zeYjXoDOS_eV1QmTpj63PQ"
                  },
                  "address_book_name": {
                    "type": "string",
                    "description": "The address book's name.",
                    "example": "Address Book"
                  },
                  "address_book_description": {
                    "type": "string",
                    "description": "The address book's description.",
                    "example": "This is an address book."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "**HTTP Status Code:** `201`   \n \n Address book created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address_book_id": {
                      "type": "string",
                      "description": "The address book's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "address_book_name": {
                      "type": "string",
                      "description": "The address book's name.",
                      "example": "Address Book"
                    },
                    "address_book_description": {
                      "type": "string",
                      "description": "The address book's description.",
                      "example": "This is an address book."
                    },
                    "unit_id": {
                      "type": "string",
                      "description": "The address book unit's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "unit_name": {
                      "type": "string",
                      "description": "The address book unit's name.",
                      "example": "Unit"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `1902` <br>\nThe \"unit_id\" field cannot be an empty value.\n\n**Error Code:** `1903` <br>\nThe \"address_book_name\" field cannot be an empty value.\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:write:address_book:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:write:address_book:admin"
          ]
        }
      }
    },
    "/contact_center/address_books/units": {
      "get": {
        "tags": [
          "Address Books"
        ],
        "summary": "List address book units",
        "description": "Use this API to return all address book units. \n\n \n\n**Scopes:** `contact_center_contact:read:admin`\n\n**Granular Scopes:** `contact_center:read:list_address_book_units:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium`",
        "operationId": "listUnits",
        "parameters": [
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token returns whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "format": "int32",
              "example": 30,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Units list returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                    },
                    "page_size": {
                      "maximum": 300,
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 30,
                      "default": 30
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 1
                    },
                    "units": {
                      "type": "array",
                      "description": "Information about the address book units.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "unit_id": {
                            "type": "string",
                            "description": "The address book unit's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "unit_name": {
                            "type": "string",
                            "description": "The address book unit's name.",
                            "example": "Example"
                          },
                          "unit_description": {
                            "type": "string",
                            "description": "The address book unit's description.",
                            "example": "This is a unit description."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:read:admin",
              "contact_center:read:list_address_book_units:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:list_address_book_units:admin"
          ]
        }
      },
      "post": {
        "tags": [
          "Address Books"
        ],
        "summary": "Create an address book unit",
        "description": "Use this API to create an [address book unit](https://support.zoom.us/hc/en-us/articles/4471495629837-Managing-address-book-units). Admins can use address book units to organize several [address books](https://support.zoom.us/hc/en-us/articles/4471544949389#:~:text=An%20address%20book%20is%20a%20collection%20of%20consumer%20information%20like%20display%20names%2C%20phone%20numbers%2C%20and%20locations.). \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:write:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "createUnit",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unit_name": {
                    "type": "string",
                    "description": "The address book unit's name.",
                    "example": "Example"
                  },
                  "unit_description": {
                    "type": "string",
                    "description": "The address book unit's description.",
                    "example": "This is a unit."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "**HTTP Status Code:** `201`   \n \n Unit created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unit_id": {
                      "type": "string",
                      "description": "The address book unit's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "unit_name": {
                      "type": "string",
                      "description": "The address book unit's name.",
                      "example": "Example"
                    },
                    "unit_description": {
                      "type": "string",
                      "description": "The address book unit's description.",
                      "example": "This is a unit."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:write:address_book_unit:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:write:address_book_unit:admin"
          ]
        }
      }
    },
    "/contact_center/address_books/units/{unitId}": {
      "get": {
        "tags": [
          "Address Books"
        ],
        "summary": "Get an address book unit",
        "description": "Use this API to get information about an address book unit. \n\n \n\n**Scopes:** `contact_center_contact:read:admin`\n\n**Granular Scopes:** `contact_center:read:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "getUnit",
        "parameters": [
          {
            "name": "unitId",
            "in": "path",
            "description": "The address book unit's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Unit returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "unit_id": {
                      "type": "string",
                      "description": "The address book unit's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "unit_name": {
                      "type": "string",
                      "description": "The address book unit's name.",
                      "example": "Example"
                    },
                    "unit_description": {
                      "type": "string",
                      "description": "The address book unit's description.",
                      "example": "This is a unit description."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nUnit does not exist: $unitId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:read:admin",
              "contact_center:read:address_book_unit:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:address_book_unit:admin"
          ]
        }
      },
      "delete": {
        "tags": [
          "Address Books"
        ],
        "summary": "Delete an address book unit",
        "description": "Use this API to delete an address book unit. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:delete:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "deleteUnit",
        "parameters": [
          {
            "name": "unitId",
            "in": "path",
            "description": "The address book unit's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Unit deleted."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nUnit does not exist: $unitId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:delete:address_book_unit:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:delete:address_book_unit:admin"
          ]
        }
      },
      "patch": {
        "tags": [
          "Address Books"
        ],
        "summary": "Update an address book unit",
        "description": "Use this API to update an address book unit. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:update:address_book_unit:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "updateUnit",
        "parameters": [
          {
            "name": "unitId",
            "in": "path",
            "description": "The address book unit's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unit_name": {
                    "type": "string",
                    "description": "The address book unit's name.",
                    "example": "example"
                  },
                  "unit_description": {
                    "type": "string",
                    "description": "The address book unit's description.",
                    "example": "This is a Demo Unit."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Unit updated."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nUnit does not exist: $unitId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:update:address_book_unit:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:update:address_book_unit:admin"
          ]
        }
      }
    },
    "/contact_center/address_books/{addressBookId}": {
      "get": {
        "tags": [
          "Address Books"
        ],
        "summary": "Get an address book",
        "description": "Use this API to get information about an address book. \n\n \n\n**Scopes:** `contact_center_contact:read:admin`\n\n**Granular Scopes:** `contact_center:read:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "getAddressBook",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Address book list returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address_book_id": {
                      "type": "string",
                      "description": "The address book's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "address_book_name": {
                      "type": "string",
                      "description": "The address book's name.",
                      "example": "Address Book"
                    },
                    "address_book_description": {
                      "type": "string",
                      "description": "The address book's description.",
                      "example": "This is an address book."
                    },
                    "total_contacts": {
                      "type": "integer",
                      "description": "The address book's total number of contacts.",
                      "example": 30
                    },
                    "unit_id": {
                      "type": "string",
                      "description": "The address book unit's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "unit_name": {
                      "type": "string",
                      "description": "The address book unit's name.",
                      "example": "Unit"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nAddress book does not exist: $addressBookId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:read:admin",
              "contact_center:read:address_book:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:address_book:admin"
          ]
        }
      },
      "delete": {
        "tags": [
          "Address Books"
        ],
        "summary": "Delete an address book",
        "description": "Use this API to delete an address book. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:delete:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "deleteAddressBook",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Address Book deleted."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nAddress book does not exist: $addressBookId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:delete:address_book:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:delete:address_book:admin"
          ]
        }
      },
      "patch": {
        "tags": [
          "Address Books"
        ],
        "summary": "Update an address book",
        "description": "Use this API to update an address book's information. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:update:address_book:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "updateAddressBook",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address_book_name": {
                    "type": "string",
                    "description": "The address book's name.",
                    "example": "example"
                  },
                  "address_book_description": {
                    "type": "string",
                    "description": "The address book's description.",
                    "example": "This is a Demo Address Book."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Address book updated."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nAddress book does not exist: $addressBookId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:update:address_book:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:update:address_book:admin"
          ]
        }
      }
    },
    "/contact_center/address_books/{addressBookId}/contacts": {
      "get": {
        "tags": [
          "Address Books"
        ],
        "summary": "List address book contacts",
        "description": "Returns all contacts in an address book.\n\n**Scopes:** `contact_center_contact:read:admin`\n\n**Granular Scopes:** `contact_center:read:list_address_book_contacts:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "listContacts",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "format": "int32",
              "example": 30,
              "default": 30
            }
          },
          {
            "name": "emails",
            "in": "query",
            "description": "The contact's email address. Multiple emails can be searched. Only an exact match is supported. Accomodates a maximum of 10 emails.",
            "required": false,
            "schema": {
              "type": "array",
              "example": [
                "user@example.com"
              ],
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "phone_numbers",
            "in": "query",
            "description": "The contact's phone number. Multiple phone numbers can be searched, Only an exact match is supported. Accomodates a maximum of 10 phone numbers.",
            "required": false,
            "schema": {
              "type": "array",
              "example": [
                "+12048002447"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Contacts list returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                    },
                    "page_size": {
                      "maximum": 300,
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 30,
                      "default": 30
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 1
                    },
                    "contacts": {
                      "type": "array",
                      "description": "Information about the contacts.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contact_id": {
                            "type": "string",
                            "description": "The contact's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "display_name": {
                            "type": "string",
                            "description": "The contact's name.",
                            "example": "Jill Chill"
                          },
                          "first_name": {
                            "type": "string",
                            "description": "The contact's first name.",
                            "example": "Jill"
                          },
                          "last_name": {
                            "type": "string",
                            "description": "The contact's last name.",
                            "example": "Chill"
                          },
                          "phone_numbers": {
                            "type": "array",
                            "description": "The contact's phone numbers.",
                            "items": {
                              "type": "string",
                              "example": "+12048002447"
                            }
                          },
                          "emails": {
                            "type": "array",
                            "description": "The contact's email addresses.",
                            "items": {
                              "type": "string",
                              "format": "email",
                              "example": "user@example.com"
                            }
                          },
                          "location": {
                            "type": "string",
                            "description": "The contact's location.",
                            "example": "San Jose"
                          },
                          "account_number": {
                            "type": "string",
                            "description": "The contact's account number.",
                            "example": "112233445566"
                          },
                          "company": {
                            "type": "string",
                            "description": "The contact's company.",
                            "example": "Example"
                          },
                          "role": {
                            "type": "string",
                            "description": "The contact's role.",
                            "example": "Agent"
                          },
                          "address_book_id": {
                            "type": "string",
                            "description": "The address book's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "address_book_name": {
                            "type": "string",
                            "description": "The address book's name.",
                            "example": "Address Book"
                          },
                          "variables": {
                            "type": "array",
                            "description": "Information about address book variables.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "variable_group_id": {
                                  "type": "string",
                                  "description": "The variable group's ID.",
                                  "example": "afececcd-0c9f-48de-9d19-0c84e8bdfeca"
                                },
                                "variable_id": {
                                  "type": "string",
                                  "description": "The variable's ID.",
                                  "example": "zeYjXoDOS_eV1QmTpj63PQ"
                                },
                                "variable_name": {
                                  "type": "string",
                                  "description": "The variable's name.",
                                  "example": "variable demo name"
                                },
                                "data_type": {
                                  "type": "string",
                                  "description": "The variable's data type.",
                                  "example": "string",
                                  "enum": [
                                    "string",
                                    "boolean"
                                  ]
                                },
                                "variable_value": {
                                  "type": "string",
                                  "description": "The variable's value.",
                                  "example": "variable value demo"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:read:admin",
              "contact_center:read:list_address_book_contacts:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 2.12.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_contact:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:list_address_book_contacts:admin"
          ]
        }
      },
      "post": {
        "tags": [
          "Address Books"
        ],
        "summary": "Create an address book contact",
        "description": "Use this API to create a new contact in an [address book](https://support.zoom.us/hc/en-us/articles/4471544949389). During an active engagement, the Zoom desktop client will display information from the address book if that customer is a contact in the address book. If the consumer is not in the address book, agents can add a new contact and choose which address book the contact belongs to. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:write:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "createContact",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "phone_numbers"
                ],
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "The contact's display name.",
                    "example": "Jill Chill"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The contact's first name.",
                    "example": "Jill"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The contact's last name.",
                    "example": "Chill"
                  },
                  "phone_numbers": {
                    "type": "array",
                    "description": "The contact's phone numbers. You must provide this field and/or the `email` field when you create a contact.",
                    "items": {
                      "type": "string",
                      "example": "+12048002447"
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "The contact's email addresses. You must provide this field and/or the `phone_numbers` field when you create a contact.",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "example": "user@example.com"
                    }
                  },
                  "location": {
                    "type": "string",
                    "description": "The contact's location.",
                    "example": "San Jose"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "The contact's account number.",
                    "example": "112233445566"
                  },
                  "company": {
                    "type": "string",
                    "description": "The contact's company.",
                    "example": "Example"
                  },
                  "role": {
                    "type": "string",
                    "description": "The contact's role.",
                    "example": "Agent"
                  },
                  "variables": {
                    "type": "array",
                    "description": "Information about address book variables.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "variable_id": {
                          "type": "string",
                          "description": "The variable's ID.",
                          "example": "zeYjXoDOS_eV1QmTpj63PQ"
                        },
                        "variable_value": {
                          "type": "string",
                          "description": "The variable's value.",
                          "example": "variable value demo"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "**HTTP Status Code:** `201`   \n \n Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "string",
                      "description": "The contact's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "display_name": {
                      "type": "string",
                      "description": "The contact's name.",
                      "example": "Jill Chill"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The contact's first name.",
                      "example": "Jill"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The contact's last name.",
                      "example": "Chill"
                    },
                    "phone_numbers": {
                      "type": "array",
                      "description": "The contact's phone numbers.",
                      "items": {
                        "type": "string",
                        "example": "+12048002447"
                      }
                    },
                    "emails": {
                      "type": "array",
                      "description": "The contact's email addresses.",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "example": "user@example.com"
                      }
                    },
                    "location": {
                      "type": "string",
                      "description": "The contact's location.",
                      "example": "San Jose"
                    },
                    "account_number": {
                      "type": "string",
                      "description": "The contact's account number.",
                      "example": "112233445566"
                    },
                    "company": {
                      "type": "string",
                      "description": "The contact's company.",
                      "example": "Example"
                    },
                    "role": {
                      "type": "string",
                      "description": "The contact's role.",
                      "example": "Agent"
                    },
                    "address_book_id": {
                      "type": "string",
                      "description": "The address book's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "address_book_name": {
                      "type": "string",
                      "description": "The address book's name.",
                      "example": "Address Book"
                    },
                    "variables": {
                      "type": "array",
                      "description": "Information about address book variables.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variable_group_id": {
                            "type": "string",
                            "description": "The variable group's ID.",
                            "example": "afececcd-0c9f-48de-9d19-0c84e8bdfeca"
                          },
                          "variable_id": {
                            "type": "string",
                            "description": "The variable's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "variable_name": {
                            "type": "string",
                            "description": "The variable's name.",
                            "example": "variable demo name"
                          },
                          "data_type": {
                            "type": "string",
                            "description": "The variable's data type.",
                            "example": "string",
                            "enum": [
                              "string",
                              "boolean"
                            ]
                          },
                          "variable_value": {
                            "type": "string",
                            "description": "The variable's value.",
                            "example": "variable value demo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `2102` <br>\nThe \"email\" and/or \"phone_numbers\" field cannot be an empty value.\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:write:address_book_contact:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 2.6.0",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:write:address_book_contact:admin"
          ]
        }
      }
    },
    "/contact_center/address_books/{addressBookId}/contacts/{contactId}": {
      "get": {
        "tags": [
          "Address Books"
        ],
        "summary": "Get an address book contact",
        "description": "Use this API to get information about an address book's contact. \n\n \n\n**Scopes:** `contact_center_contact:read:admin`\n\n**Granular Scopes:** `contact_center:read:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "The contact's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Contact returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact_id": {
                      "type": "string",
                      "description": "The contact's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "display_name": {
                      "type": "string",
                      "description": "The contact's name.",
                      "example": "Jill Chill"
                    },
                    "first_name": {
                      "type": "string",
                      "description": "The contact's first name.",
                      "example": "Jill"
                    },
                    "last_name": {
                      "type": "string",
                      "description": "The contact's last name.",
                      "example": "Chill"
                    },
                    "phone_numbers": {
                      "type": "array",
                      "description": "The contact's phone numbers.",
                      "items": {
                        "type": "string",
                        "example": "+12048002447"
                      }
                    },
                    "emails": {
                      "type": "array",
                      "description": "The contact's email addresses.",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "example": "user@example.com"
                      }
                    },
                    "location": {
                      "type": "string",
                      "description": "The contact's location.",
                      "example": "San Jose"
                    },
                    "account_number": {
                      "type": "string",
                      "description": "The contact's account number.",
                      "example": "112233445566"
                    },
                    "company": {
                      "type": "string",
                      "description": "The contact's company.",
                      "example": "Example"
                    },
                    "role": {
                      "type": "string",
                      "description": "The contact's role.",
                      "example": "Agent"
                    },
                    "address_book_id": {
                      "type": "string",
                      "description": "The address book's ID.",
                      "example": "zeYjXoDOS_eV1QmTpj63PQ"
                    },
                    "address_book_name": {
                      "type": "string",
                      "description": "The address book's name.",
                      "example": "Address Book"
                    },
                    "variables": {
                      "type": "array",
                      "description": "Information about address book variables.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "variable_group_id": {
                            "type": "string",
                            "description": "The variable group's ID.",
                            "example": "afececcd-0c9f-48de-9d19-0c84e8bdfeca"
                          },
                          "variable_id": {
                            "type": "string",
                            "description": "The variable's ID.",
                            "example": "zeYjXoDOS_eV1QmTpj63PQ"
                          },
                          "variable_name": {
                            "type": "string",
                            "description": "The variable's name.",
                            "example": "variable demo name"
                          },
                          "data_type": {
                            "type": "string",
                            "description": "The variable's data type.",
                            "example": "string",
                            "enum": [
                              "string",
                              "boolean"
                            ]
                          },
                          "variable_value": {
                            "type": "string",
                            "description": "The variable's value.",
                            "example": "variable value demo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nContact does not exist: $contactId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:read:admin",
              "contact_center:read:address_book_contact:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 2.6.0",
          "x-macro-scopes": [
            "contact_center_contact:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:address_book_contact:admin"
          ]
        }
      },
      "delete": {
        "tags": [
          "Address Books"
        ],
        "summary": "Delete an address book contact",
        "description": "Use this API to delete an address book's contact. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:delete:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "contactDelete",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "The contact's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Contact deleted."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nContact does not exist: $contactId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:delete:address_book_contact:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "InitFixVersion",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:delete:address_book_contact:admin"
          ]
        }
      },
      "patch": {
        "tags": [
          "Address Books"
        ],
        "summary": "Update an address book contact",
        "description": "Use this API to update an address book's contact. \n\n \n\n**Scopes:** `contact_center_contact:write:admin`\n\n**Granular Scopes:** `contact_center:update:address_book_contact:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light`",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "addressBookId",
            "in": "path",
            "description": "The address book's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "description": "The contact's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "zeYjXoDOS_eV1QmTpj63PQ"
            }
          }
        ],
        "requestBody": {
          "description": "AddressBook",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "email",
                  "phone_numbers"
                ],
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "The contact's display name.",
                    "example": "Jill Chill"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The contact's first name.",
                    "example": "Jill"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The contact's last name.",
                    "example": "Chill"
                  },
                  "phone_numbers": {
                    "type": "array",
                    "description": "The contact's phone numbers. You must provide this field and/or the `email` field when you create a contact.",
                    "items": {
                      "type": "string",
                      "example": "+12048002447"
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "The contact's email addresses. You must provide this field and/or the `phone_numbers` field when you create a contact.",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "example": "user@example.com"
                    }
                  },
                  "location": {
                    "type": "string",
                    "description": "The contact's location.",
                    "example": "San Jose"
                  },
                  "account_number": {
                    "type": "string",
                    "description": "The contact's account number.",
                    "example": "112233445566"
                  },
                  "company": {
                    "type": "string",
                    "description": "The contact's company.",
                    "example": "Example"
                  },
                  "role": {
                    "type": "string",
                    "description": "The contact's role.",
                    "example": "Agent"
                  },
                  "variables": {
                    "type": "array",
                    "description": "Information about address book variables.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "variable_id": {
                          "type": "string",
                          "description": "The variable's ID.",
                          "example": "zeYjXoDOS_eV1QmTpj63PQ"
                        },
                        "variable_value": {
                          "type": "string",
                          "description": "The variable's value.",
                          "example": "variable value demo"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \n Contact updated."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found\n\n**Error Code:** `1201` <br>\nContact does not exist: $contactId\n\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_contact:write:admin",
              "contact_center:update:address_book_contact:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 2.6.0",
          "x-macro-scopes": [
            "contact_center_contact:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:update:address_book_contact:admin"
          ]
        }
      }
    },
    "/contact_center/system_statuses": {
      "get": {
        "tags": [
          "Agent Statuses"
        ],
        "summary": "List system statuses",
        "description": "Get a list of system statuses. Admins can create system statuses, such as **Maintenance**.  \n\n**Scopes:** `contact_center_preference:read:admin`\n\n**Granular Scopes:** `contact_center:read:list_system_statues:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "listSystemStatus",
        "parameters": [
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "integer",
              "format": "int32",
              "example": 30,
              "default": 30
            }
          },
          {
            "name": "status_category",
            "in": "query",
            "description": "The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the Users APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).",
            "required": false,
            "schema": {
              "type": "string",
              "example": "agent_status",
              "enum": [
                "agent_status",
                "queue_opt_out_and_not_ready_status"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \nSystem statuses returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "Use the next page token to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                      "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                    },
                    "page_size": {
                      "maximum": 300,
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 30,
                      "default": 30
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 1
                    },
                    "statuses": {
                      "type": "array",
                      "description": "Information about the statuses.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "status_id": {
                            "type": "string",
                            "description": "The status ID.",
                            "example": "1"
                          },
                          "status_name": {
                            "type": "string",
                            "description": "The user's [availability status](https://support.zoom.us/hc/en-us/articles/4470584918541-Setting-availability-status). \n* Offline. \n* Ready. \n* Not Ready. \n* Occupied. \n* A custom user status, like **Lunch**.",
                            "example": "Lunch",
                            "enum": [
                              "Offline",
                              "Ready",
                              "Not Ready",
                              "Occupied",
                              "string"
                            ]
                          },
                          "status_type": {
                            "type": "string",
                            "description": "The status's type, used to determine default or custom status.",
                            "example": "default",
                            "enum": [
                              "default",
                              "custom"
                            ]
                          },
                          "status_category": {
                            "type": "string",
                            "description": "The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the Users APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).",
                            "example": "agent_status",
                            "enum": [
                              "agent_status",
                              "queue_opt_out_and_not_ready_status"
                            ]
                          },
                          "enable": {
                            "type": "boolean",
                            "description": "Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.",
                            "example": true
                          },
                          "status_assigned_queues": {
                            "type": "array",
                            "description": "Information about the queues that are using the 'Not Ready' or opt out of queue status.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "description": "Queue ID.",
                                  "example": "123"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Queue name.",
                                  "example": "customer queue"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_preference:read:admin",
              "contact_center:read:list_system_statues:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 3.2.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_preference:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:list_system_statues:admin"
          ]
        }
      },
      "post": {
        "tags": [
          "Agent Statuses"
        ],
        "summary": "Create a system status",
        "description": "Create custom statuses for the `agent_status` and `queue_opt_out_and_not_ready_status` categories. \n\n \n\n**Scopes:** `contact_center_preference:write:admin`\n\n**Granular Scopes:** `contact_center:write:system_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "createSystemStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status_name": {
                    "type": "string",
                    "description": "The status's name.",
                    "example": "Lunch"
                  },
                  "status_category": {
                    "type": "string",
                    "description": "The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the **Users** APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).",
                    "example": "agent_status",
                    "enum": [
                      "agent_status",
                      "queue_opt_out_and_not_ready_status"
                    ]
                  },
                  "enable": {
                    "type": "boolean",
                    "description": "Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set a status as a sub-status for **Not Ready** or **Queue Opt Out**.",
                    "example": true,
                    "default": true
                  },
                  "status_assigned_queues": {
                    "type": "array",
                    "description": "Queues that the 'Not Ready' or opt out of queue status will be assigned to.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Queue ID.",
                          "example": "123"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "System status successfully created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_id": {
                      "type": "string",
                      "description": "The status ID.",
                      "example": "1"
                    },
                    "status_name": {
                      "type": "string",
                      "description": "The user's [availability status](https://support.zoom.us/hc/en-us/articles/4470584918541-Setting-availability-status). \n* Offline \n* Ready \n* Not Ready \n* Occupied \n* A custom user status, like **Lunch**.",
                      "example": "Lunch",
                      "enum": [
                        "Offline",
                        "Ready",
                        "Not Ready",
                        "Occupied"
                      ]
                    },
                    "status_type": {
                      "type": "string",
                      "description": "The status's type, used to determine default or custom status.",
                      "example": "default",
                      "enum": [
                        "default",
                        "custom"
                      ]
                    },
                    "status_category": {
                      "type": "string",
                      "description": "The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the **Users** APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).",
                      "example": "agent_status",
                      "enum": [
                        "agent_status",
                        "queue_opt_out_and_not_ready_status"
                      ]
                    },
                    "enable": {
                      "type": "boolean",
                      "description": "Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.",
                      "example": true
                    }
                  },
                  "description": "Information about the user's status."
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `1105` <br>\n * Can't create more custom agent_status because there's a maximum of 15. <br>\n**Error Code:** `1106` <br>\n * Can't create more custom queue_opt_out_and_not_ready_status because there's a maximum of 15. <br>\n**Error Code:** `1107` <br>\n * Creating the status. Please wait a moment. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `1104` <br>\n Status category does not exist: $status_category. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_preference:write:admin",
              "contact_center:write:system_status:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 3.2.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_preference:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:write:system_status:admin"
          ]
        }
      }
    },
    "/contact_center/system_statuses/{statusId}": {
      "get": {
        "tags": [
          "Agent Statuses"
        ],
        "summary": "Get a system status",
        "description": "Get information about a system status. \n\n \n\n**Scopes:** `contact_center_preference:read:admin`\n\n**Granular Scopes:** `contact_center:read:system_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "getAStatus",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "The status ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \nSystem status returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status_id": {
                      "type": "string",
                      "description": "The status ID.",
                      "example": "1"
                    },
                    "status_name": {
                      "type": "string",
                      "description": "The user's [availability status](https://support.zoom.us/hc/en-us/articles/4470584918541-Setting-availability-status). \n* Offline. \n* Ready. \n* Not Ready. \n* Occupied. \n* A custom user status, like **Lunch**.",
                      "example": "Lunch",
                      "enum": [
                        "Offline",
                        "Ready",
                        "Not Ready",
                        "Occupied"
                      ]
                    },
                    "status_type": {
                      "type": "string",
                      "description": "The status's type, used to determine default or custom status.",
                      "example": "default",
                      "enum": [
                        "default",
                        "custom"
                      ]
                    },
                    "status_category": {
                      "type": "string",
                      "description": "The status's category.\n\n* `agent_status` - User's system statuses.\n\n* `queue_opt_out_and_not_ready_status` - User's **Queue Opt-Out** and **Not Ready** reasons. **Not Ready** reasons are referenced by field `sub_status_name` in the Users APIs, such as [List users' profiles](https://developers.zoom.us/docs/contact-center/apis/#operation/users).",
                      "example": "agent_status",
                      "enum": [
                        "agent_status",
                        "queue_opt_out_and_not_ready_status"
                      ]
                    },
                    "enable": {
                      "type": "boolean",
                      "description": "Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.",
                      "example": true
                    },
                    "status_assigned_queues": {
                      "type": "array",
                      "description": "Information about the queues that are using the 'Not Ready' or opt out of queue status.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Queue ID.",
                            "example": "123"
                          },
                          "value": {
                            "type": "string",
                            "description": "Queue name.",
                            "example": "customer queue"
                          }
                        }
                      }
                    }
                  },
                  "description": "Information about the user's status."
                }
              }
            }
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `1101` <br>\n Status does not exist: $statusId. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_preference:read:admin",
              "contact_center:read:system_status:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 3.2.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_preference:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:system_status:admin"
          ]
        }
      },
      "delete": {
        "tags": [
          "Agent Statuses"
        ],
        "summary": "Delete a system status",
        "description": "Delete a custom status for the agent_status and queue_opt_out_and_not_ready_status categories.\n\n**Scopes:** `contact_center_preference:write:admin`\n\n**Granular Scopes:** `contact_center:delete:system_status:admin`",
        "operationId": "deleteSystemStatus",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "The status ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`  \n \nSystem status deleted."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `1108` <br>\n Status is default. Only custom statuses can be modified. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `1101` <br>\n Status does not exist: $statusId. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_preference:write:admin",
              "contact_center:delete:system_status:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 2.12.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_preference:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:delete:system_status:admin"
          ]
        }
      },
      "patch": {
        "tags": [
          "Agent Statuses"
        ],
        "summary": "Update a system status",
        "description": "Update a custom status for the `agent_status` and `queue_opt_out_and_not_ready_status` categories. \n\n \n\n**Scopes:** `contact_center_preference:write:admin`\n\n**Granular Scopes:** `contact_center:update:system_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "updateSystemStatus",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "The status ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status_name": {
                    "type": "string",
                    "description": "The status's name.",
                    "example": "Lunch"
                  },
                  "enable": {
                    "type": "boolean",
                    "description": "Only applicable to a status with the `queue_opt_out_and_not_ready_status` category. If enabled, the agent can set the status as a sub-status for **Not Ready** or **Queue Opt Out**.",
                    "example": true,
                    "default": true
                  },
                  "status_assigned_queues": {
                    "type": "array",
                    "description": "Queues that the 'Not Ready' or opt out of queue status will be assigned to.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Queue ID.",
                          "example": "123"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204`   \n \nSystem status updated."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `300` <br>\n Parameter `status_name` is required. <br>\n**Error Code:** `1103` <br>\n The system status already exists. <br>\n**Error Code:** `1107` <br>\n Updating status. Please wait a moment. <br>\n**Error Code:** `1108` <br>\n Status is default. Only custom statuses can be modified. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `1101` <br>\n Status does not exist: $statusId. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_preference:write:admin",
              "contact_center:update:system_status:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 3.2.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_preference:write:admin"
          ],
          "x-granular-scopes": [
            "contact_center:update:system_status:admin"
          ]
        }
      }
    },
    "/contact_center/outbound_campaign/contact_lists": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "List campaign contact lists",
        "description": "List campaign contact lists.\n\n**Scopes:** `contact_center_outbound_campaign_contactlist:read:admin`\n\n**Granular Scopes:** `contact_center:read:outbound_campaign_contactlist:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "listCampaignContactLists",
        "parameters": [
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`     Campaign contact lists are returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                      "example": "R4aF9Oj0fVM2hhezJTEmSKaBSkfesDwGy42"
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "The number of records returned within a single API call.",
                      "example": 30
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 1
                    },
                    "contact_lists": {
                      "type": "array",
                      "description": "Array of contact lists.",
                      "items": {
                        "required": [
                          "contact_list_id",
                          "contact_list_name",
                          "contacts_phones"
                        ],
                        "type": "object",
                        "properties": {
                          "contact_list_id": {
                            "type": "string",
                            "description": "The campaign contact list's ID.",
                            "example": "MN2Dtcb2T-yT5CU3clN-AA"
                          },
                          "contact_list_name": {
                            "maxLength": 100,
                            "minLength": 1,
                            "type": "string",
                            "description": "The campaign contact list's name.",
                            "example": "Contact List"
                          },
                          "contact_list_description": {
                            "maxLength": 100,
                            "type": "string",
                            "description": "The campaign contact list's description.",
                            "example": "Description"
                          },
                          "contacts_count": {
                            "maximum": 100000,
                            "type": "integer",
                            "description": "Number of contacts in the contact list.",
                            "example": 1
                          }
                        },
                        "description": "Contact lists object"
                      }
                    }
                  },
                  "description": "Contact list items"
                }
              }
            }
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_outbound_campaign_contactlist:read:admin",
              "contact_center:read:outbound_campaign_contactlist:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 3.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_outbound_campaign_contactlist:read:admin"
          ],
          "x-granular-scopes": [
            "contact_center:read:outbound_campaign_contactlist:admin"
          ]
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Create a campaign contact list",
        "description": "Create a campaign contact list. Supports only contact list, NOT Do Not Contact Lists\n\n**Scopes:** `contact_center_outbound_campaign_contactlist:write:admin`\n\n**Granular Scopes:** `contact_center:write:outbound_campaign_contactlist:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "createCampaignContactList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "contact_list_name"
                ],
                "type": "object",
                "properties": {
                  "contact_list_name": {
                    "maxLength": 100,
                    "minLength": 1,
                    "type": "string",
                    "description": "The name of the contact list",
                    "example": "Contact List"
                  },
                  "contact_list_description": {
                    "maxLength": 100,
                    "type": "string",
                    "description": "Description of the contact list",
                    "example": "This is a description"
                  }
                },
                "description": "Campaign contact list object"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "**HTTP Status Code:** `201`     Campaign contact list is created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contact_list_id": {
                      "type": "string",
                      "description": "ID of the created contact list",
                      "example": "rfMoVPVYS3yjWJAzdOOlWA"
                    },
                    "contact_list_name": {
                      "type": "string",
                      "description": "Name of the contact list",
                      "example": "Contact List"
                    },
                    "contact_list_description": {
                      "type": "string",
                      "description": "Description of the contact list",
                      "example": "Description"
                    },
                    "contacts_count": {
                      "type": "integer",
                      "description": "Number of contacts",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `300` <br>\n Validation failed. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "contact_center_outbound_campaign_contactlist:write:admin",
              "contact_center:write:outbound_campaign_contactlist:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZCC 3.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "contact_center_outbound_campaign_contactlist:write:admin"
[...]
