{
  "openapi": "3.0.0",
  "info": {
    "title": "Zoom Virtual Agent API",
    "description": "You can use Zoom Virtual Agent APIs to build artificial intelligence (AI) and chatbot solutions for your website. \n\n Your website users can expect immediate responses to their queries at any time. As a result, Zoom Virtual Agent deploys support to your users faster and reduces the workload for your live agents. \n\n All endpoints are available through `https` at `api.zoom.us/v2/`.",
    "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/"
    },
    "version": "2"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "https://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2"
    }
  ],
  "paths": {
    "/km/kbs/{kbId}/articles": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Get Articles",
        "description": "Get multiple knowledge base articles.\n\n**Scopes:** `zva:read:km_kbs`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "GetArticles",
        "parameters": [
          {
            "name": "kbId",
            "in": "path",
            "description": "The knowledge base's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "description": "The knowledge base's ID.",
              "example": "whelb0q6qe1bpqg6jrw3ismo"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use to paginate through large result sets. A next_page_token property is returned in the response whenever the set of available results exceeds the current page size.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Use to paginate through large result sets. A next_page_token property is returned in the response whenever the set of available results exceeds the current page size.",
              "example": "e9je7r6yxfqlaklt7zz4wzh9"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned per page.",
            "required": false,
            "schema": {
              "maximum": 300,
              "type": "number",
              "description": "The number of records returned per page.",
              "example": 30,
              "default": 30
            }
          },
          {
            "name": "include_contents",
            "in": "query",
            "description": "Whether to include the article's contents in the response or not.",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to include the article's contents in the response or not.",
              "example": false,
              "default": false
            }
          },
          {
            "name": "excluded",
            "in": "query",
            "description": "Whether to query excluded articles or not.",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Whether to query excluded articles or not.",
              "example": false,
              "default": false
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The language of the results.",
            "required": false,
            "schema": {
              "type": "string",
              "description": "The language of the results.",
              "example": "en",
              "enum": [
                "zh-CN",
                "zh-TW",
                "da",
                "nl",
                "en",
                "en-US",
                "en-GB",
                "en-AU",
                "en-NZ",
                "fr",
                "fr-FR",
                "fr-CA",
                "de",
                "it",
                "ja",
                "ko",
                "pl",
                "pt",
                "pt-PT",
                "pt-BR",
                "ro",
                "ru",
                "es",
                "es-ES",
                "es-US",
                "es-MX",
                "sv",
                "tr"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of articles returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "Use to paginate through large result sets. A next_page_token property is returned in the response whenever the set of available results exceeds the current page size.",
                      "nullable": true,
                      "example": "e9je7r6yxfqlaklt7zz4wzh9"
                    },
                    "page_size": {
                      "maximum": 300,
                      "type": "number",
                      "description": "The number of records returned within a single API call.",
                      "example": 30,
                      "default": 30
                    },
                    "total_records": {
                      "type": "number",
                      "description": "The total number of all the records available across pages.",
                      "example": 100
                    },
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "The article's ID.",
                            "example": "e9je7r6yxfqlaklt7zz4wzh9"
                          },
                          "external_id": {
                            "type": "string",
                            "description": "The article's external ID.",
                            "nullable": true,
                            "example": "871b707a-7756-46b6-bfba-36a297ba1e85"
                          },
                          "kb_id": {
                            "type": "string",
                            "description": "The knowledge base's ID.",
                            "example": "whelb0q6qe1bpqg6jrw3ismo"
                          },
                          "category": {
                            "type": "string",
                            "description": "The article's category.",
                            "nullable": true,
                            "example": "Foo"
                          },
                          "title": {
                            "type": "string",
                            "description": "The article's title.",
                            "example": "Article One"
                          },
                          "url": {
                            "pattern": "^https?://.+",
                            "type": "string",
                            "description": "The article's URL.",
                            "format": "uri",
                            "nullable": true,
                            "example": "https://example.com/foo/article1"
                          },
                          "content": {
                            "type": "string",
                            "description": "The article's content.",
                            "example": "<p>article 1 content with <b>some</b> <i>html</i></p>"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "The date and time the article was created.",
                            "format": "date-time",
                            "example": "2023-05-12T16:31:22.265Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "description": "The date and time the article was last updated.",
                            "format": "date-time",
                            "example": "2023-05-12T21:01:14.07Z"
                          },
                          "exclude": {
                            "type": "boolean",
                            "description": "Whether the article is excluded from being presented as a solution to queries.",
                            "example": false,
                            "default": false
                          },
                          "language": {
                            "type": "string",
                            "description": "The language of the article.",
                            "example": "en",
                            "enum": [
                              "zh-CN",
                              "zh-TW",
                              "da",
                              "nl",
                              "en",
                              "en-US",
                              "en-GB",
                              "en-AU",
                              "en-NZ",
                              "fr",
                              "fr-FR",
                              "fr-CA",
                              "de",
                              "it",
                              "ja",
                              "ko",
                              "pl",
                              "pt",
                              "pt-PT",
                              "pt-BR",
                              "ro",
                              "ru",
                              "es",
                              "es-ES",
                              "es-US",
                              "es-MX",
                              "sv",
                              "tr"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API <br>\n**Error Code:** `33005` <br>\n Validation failed <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `33000` <br>\n The knowledge base was not found <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva:read:km_kbs"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 1.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva:read:km_kbs"
          ]
        }
      },
      "post": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Create Article",
        "description": "Create a knowledge base article.\n\n**Scopes:** `zva:write:km_kbs`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "CreateArticle",
        "parameters": [
          {
            "name": "kbId",
            "in": "path",
            "description": "The knowledge base's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "whelb0q6qe1bpqg6jrw3ismo"
            }
          }
        ],
        "requestBody": {
          "description": "Create a knowledge base article.",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "content",
                  "exclude",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "description": "The article's category.",
                    "example": "Foo"
                  },
                  "title": {
                    "type": "string",
                    "description": "The article's title.",
                    "example": "My Article 1"
                  },
                  "url": {
                    "type": "string",
                    "description": "The article's URL.",
                    "example": "https://example.com/foo/article1"
                  },
                  "content": {
                    "type": "string",
                    "description": "The article's content.",
                    "example": "&lt;p&gt;article 1 content with &lt;b&gt;some&lt;/b&gt; &lt;i&gt;html&lt;/i&gt;&lt;/p&gt;"
                  },
                  "exclude": {
                    "type": "boolean",
                    "description": "Exclude article from being presented as a solution to queries."
                  },
                  "language": {
                    "type": "string",
                    "description": "The article's language.",
                    "example": "en",
                    "enum": [
                      "zh-CN",
                      "zh-TW",
                      "da",
                      "nl",
                      "en",
                      "en-US",
                      "en-GB",
                      "en-AU",
                      "en-NZ",
                      "fr",
                      "fr-FR",
                      "fr-CA",
                      "de",
                      "it",
                      "ja",
                      "ko",
                      "pl",
                      "pt",
                      "pt-PT",
                      "pt-BR",
                      "ro",
                      "ru",
                      "es",
                      "es-ES",
                      "es-US",
                      "es-MX",
                      "sv",
                      "tr"
                    ]
                  },
                  "external_id": {
                    "type": "string",
                    "description": "The article's external ID.",
                    "example": "871b707a-7756-46b6-bfba-36a297ba1e85"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Article created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The article's ID.",
                      "example": "c6o8l4m5xxyyaz0kxiqec6v6"
                    },
                    "kb_id": {
                      "type": "string",
                      "description": "The knowledge base's ID.",
                      "example": "whelb0q6qe1bpqg6jrw3ismo"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category of the article.",
                      "example": "Foo"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the article.",
                      "example": "Article One"
                    },
                    "url": {
                      "type": "string",
                      "description": "The article's URL.",
                      "example": "https://example.com/foo/article1"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The date and time the article was created.",
                      "format": "date-time",
                      "example": "2023-03-21T20:21:30.659Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The date and time the article was last updated.",
                      "format": "date-time",
                      "example": "2023-03-21T20:21:30.659Z"
                    },
                    "exclude": {
                      "type": "boolean",
                      "description": "Exclude article from being presented as a solution to queries.",
                      "example": false
                    },
                    "language": {
                      "type": "string",
                      "description": "The article's language.",
                      "example": "en",
                      "enum": [
                        "zh-CN",
                        "zh-TW",
                        "da",
                        "nl",
                        "en",
                        "en-US",
                        "en-GB",
                        "en-AU",
                        "en-NZ",
                        "fr",
                        "fr-FR",
                        "fr-CA",
                        "de",
                        "it",
                        "ja",
                        "ko",
                        "pl",
                        "pt",
                        "pt-PT",
                        "pt-BR",
                        "ro",
                        "ru",
                        "es",
                        "es-ES",
                        "es-US",
                        "es-MX",
                        "sv",
                        "tr"
                      ]
                    },
                    "external_id": {
                      "type": "string",
                      "description": "The article's external ID.",
                      "example": "871b707a-7756-46b6-bfba-36a297ba1e85"
                    },
                    "content": {
                      "type": "string",
                      "description": "The article's content.",
                      "example": "<p>article 1 content with <b>some</b> <i>html</i></p>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API <br>\n**Error Code:** `33002` <br>\n Too many articles for KB (limit is 5000) <br>\n**Error Code:** `33005` <br>\n Validation failed <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `33000` <br>\n The knowledge base was not found <br>\n"
          },
          "409": {
            "description": "**HTTP Status Code:** `409` <br>\n Conflict \n\n **Error Code:** `33003` <br>\n An article for this KB already exists with external ID \"871b707a-7756-46b6-bfba-36a297ba1e85\" and language \"en\" <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva:write:km_kbs"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 1.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva:write:km_kbs"
          ]
        }
      }
    },
    "/km/kbs/{kbId}/articles/{articleId}": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Get Article",
        "description": "Get a knowledge base article\n\n**Scopes:** `zva:read:km_kbs`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "GetArticle",
        "parameters": [
          {
            "name": "kbId",
            "in": "path",
            "description": "The knowledge base's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "whelb0q6qe1bpqg6jrw3ismo"
            }
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "The article's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "c6o8l4m5xxyyaz0kxiqec6v6"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The article's ID.",
                      "example": "c6o8l4m5xxyyaz0kxiqec6v6"
                    },
                    "kb_id": {
                      "type": "string",
                      "description": "The knowledge base's ID.",
                      "example": "whelb0q6qe1bpqg6jrw3ismo"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category of the article.",
                      "example": "Foo"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the article.",
                      "example": "Article One"
                    },
                    "url": {
                      "type": "string",
                      "description": "The article's URL.",
                      "example": "https://example.com/foo/article1"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The date and time the article was created.",
                      "format": "date-time",
                      "example": "2023-03-21T20:21:30.659Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The date and time the article was last updated.",
                      "format": "date-time",
                      "example": "2023-03-21T20:21:30.659Z"
                    },
                    "exclude": {
                      "type": "boolean",
                      "description": "Exclude article from being presented as a solution to queries.",
                      "example": false
                    },
                    "language": {
                      "type": "string",
                      "description": "The article's language.",
                      "example": "en",
                      "enum": [
                        "zh-CN",
                        "zh-TW",
                        "da",
                        "nl",
                        "en",
                        "en-US",
                        "en-GB",
                        "en-AU",
                        "en-NZ",
                        "fr",
                        "fr-FR",
                        "fr-CA",
                        "de",
                        "it",
                        "ja",
                        "ko",
                        "pl",
                        "pt",
                        "pt-PT",
                        "pt-BR",
                        "ro",
                        "ru",
                        "es",
                        "es-ES",
                        "es-US",
                        "es-MX",
                        "sv",
                        "tr"
                      ]
                    },
                    "external_id": {
                      "type": "string",
                      "description": "The article's external ID.",
                      "example": "871b707a-7756-46b6-bfba-36a297ba1e85"
                    },
                    "content": {
                      "type": "string",
                      "description": "The article's content.",
                      "example": "<p>article 1 content with <b>some</b> <i>html</i></p>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API <br>\n**Error Code:** `33005` <br>\n Validation failed <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `33000` <br>\n The knowledge base was not found <br>\n**Error Code:** `33004` <br>\n The article was not found <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva:read:km_kbs"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 1.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva:read:km_kbs"
          ]
        }
      },
      "put": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Update Article",
        "description": "Update a knowledge base article.\n\n**Scopes:** `zva:write:km_kbs`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "UpdateArticle",
        "parameters": [
          {
            "name": "kbId",
            "in": "path",
            "description": "The knowledge base's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "whelb0q6qe1bpqg6jrw3ismo"
            }
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "The article's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "c6o8l4m5xxyyaz0kxiqec6v6"
            }
          }
        ],
        "requestBody": {
          "description": "Update a knowledge base article",
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "content",
                  "exclude",
                  "title"
                ],
                "type": "object",
                "properties": {
                  "category": {
                    "type": "string",
                    "description": "The article's category.",
                    "example": "Foo"
                  },
                  "title": {
                    "type": "string",
                    "description": "The article's title.",
                    "example": "My Article 1"
                  },
                  "url": {
                    "type": "string",
                    "description": "The article's URL.",
                    "example": "https://example.com/foo/article1"
                  },
                  "content": {
                    "type": "string",
                    "description": "The article's content.",
                    "example": "&lt;p&gt;article 1 content with &lt;b&gt;some&lt;/b&gt; &lt;i&gt;html&lt;/i&gt;&lt;/p&gt;"
                  },
                  "exclude": {
                    "type": "boolean",
                    "description": "Exclude article from being presented as a solution to queries."
                  },
                  "language": {
                    "type": "string",
                    "description": "The article's language.",
                    "example": "en",
                    "enum": [
                      "zh-CN",
                      "zh-TW",
                      "da",
                      "nl",
                      "en",
                      "en-US",
                      "en-GB",
                      "en-AU",
                      "en-NZ",
                      "fr",
                      "fr-FR",
                      "fr-CA",
                      "de",
                      "it",
                      "ja",
                      "ko",
                      "pl",
                      "pt",
                      "pt-PT",
                      "pt-BR",
                      "ro",
                      "ru",
                      "es",
                      "es-ES",
                      "es-US",
                      "es-MX",
                      "sv",
                      "tr"
                    ]
                  },
                  "external_id": {
                    "type": "string",
                    "description": "The article's external ID.",
                    "example": "871b707a-7756-46b6-bfba-36a297ba1e85"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Article updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The article's ID.",
                      "example": "c6o8l4m5xxyyaz0kxiqec6v6"
                    },
                    "kb_id": {
                      "type": "string",
                      "description": "The knowledge base's ID.",
                      "example": "whelb0q6qe1bpqg6jrw3ismo"
                    },
                    "category": {
                      "type": "string",
                      "description": "The category of the article.",
                      "example": "Foo"
                    },
                    "title": {
                      "type": "string",
                      "description": "The title of the article.",
                      "example": "Article One"
                    },
                    "url": {
                      "type": "string",
                      "description": "The article's URL.",
                      "example": "https://example.com/foo/article1"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "The date and time the article was created.",
                      "format": "date-time",
                      "example": "2023-03-21T20:21:30.659Z"
                    },
                    "updated_at": {
                      "type": "string",
                      "description": "The date and time the article was last updated.",
                      "format": "date-time",
                      "example": "2023-03-21T20:21:30.659Z"
                    },
                    "exclude": {
                      "type": "boolean",
                      "description": "Exclude article from being presented as a solution to queries.",
                      "example": false
                    },
                    "language": {
                      "type": "string",
                      "description": "The article's language.",
                      "example": "en",
                      "enum": [
                        "zh-CN",
                        "zh-TW",
                        "da",
                        "nl",
                        "en",
                        "en-US",
                        "en-GB",
                        "en-AU",
                        "en-NZ",
                        "fr",
                        "fr-FR",
                        "fr-CA",
                        "de",
                        "it",
                        "ja",
                        "ko",
                        "pl",
                        "pt",
                        "pt-PT",
                        "pt-BR",
                        "ro",
                        "ru",
                        "es",
                        "es-ES",
                        "es-US",
                        "es-MX",
                        "sv",
                        "tr"
                      ]
                    },
                    "external_id": {
                      "type": "string",
                      "description": "The article's external ID.",
                      "example": "871b707a-7756-46b6-bfba-36a297ba1e85"
                    },
                    "content": {
                      "type": "string",
                      "description": "The article's content.",
                      "example": "<p>article 1 content with <b>some</b> <i>html</i></p>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API <br>\n**Error Code:** `33005` <br>\n Validation failed' <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `33000` <br>\n The knowledge base was not found <br>\n**Error Code:** `33004` <br>\n The article was not found <br>\n"
          },
          "409": {
            "description": "**HTTP Status Code:** `409` <br>\n Conflict \n\n **Error Code:** `33003` <br>\n An article for this KB already exists with external ID \"871b707a-7756-46b6-bfba-36a297ba1e85\" and language \"en\" <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva:write:km_kbs"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 1.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva:write:km_kbs"
          ]
        }
      },
      "delete": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Delete Article",
        "description": "Delete a knowledge base article.\n\n**Scopes:** `zva:write:km_kbs`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "DeleteArticle",
        "parameters": [
          {
            "name": "kbId",
            "in": "path",
            "description": "The knowledge base's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "whelb0q6qe1bpqg6jrw3ismo"
            }
          },
          {
            "name": "articleId",
            "in": "path",
            "description": "The article's ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "c6o8l4m5xxyyaz0kxiqec6v6"
            }
          }
        ],
        "requestBody": {
          "description": "Delete a knowledge base article.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The article was deleted"
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `33001` <br>\n Specified KB is not type Custom API <br>\n**Error Code:** `33005` <br>\n Validation failed <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `33000` <br>\n The knowledge base was not found <br>\n**Error Code:** `33004` <br>\n The article was not found <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva:write:km_kbs"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 1.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva:write:km_kbs"
          ]
        }
      }
    },
    "/virtual_agent/report/engagements": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get ZVA engagements",
        "description": "Generates a list of ZVA engagements.\n\n**Scopes:** `zva_report:read`,`zva_report:read:admin`\n\n**Granular Scopes:** `zva:read:list_engagements:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
        "operationId": "GetZVAEngagements",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, return data from the past 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-07-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "**Required** only when the **from** parameters are specified. The end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format is the same format as the **from** parameter.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-07-02"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "UTC"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page.\nConstraints: Maximum - 100, default - 10",
            "required": false,
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"
            }
          },
          {
            "name": "include_query_detail",
            "in": "query",
            "description": "Whether the engagement response includes query details.",
            "required": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` <br> ZVA engagements successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "next_page_token": {
                      "type": "string",
                      "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                      "example": "ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"
                    },
                    "page_size": {
                      "maximum": 100,
                      "type": "integer",
                      "description": "The number of records returned within a single API call.\nConstraints: Max: 100 Default: 10",
                      "example": 10,
                      "default": 10
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 44
                    },
                    "timezone": {
                      "type": "string",
                      "description": "The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.",
                      "example": "UTC"
                    },
                    "engagements": {
                      "type": "array",
                      "description": "Information about the engagements.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "engagement_id": {
                            "type": "string",
                            "description": "The engagement's ID.",
                            "example": "NF1kPajwRCGa9-cgHWGAQw"
                          },
                          "start_time": {
                            "type": "string",
                            "description": "The engagement start time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.",
                            "format": "date-time",
                            "example": "2023-07-11T22:17:49Z"
                          },
                          "duration": {
                            "type": "integer",
                            "description": "The duration of the engagement in seconds.",
                            "example": 25
                          },
                          "campaign_name": {
                            "type": "string",
                            "description": "The engagement's campaign name.",
                            "example": "campaignA"
                          },
                          "global_variables": {
                            "type": "array",
                            "description": "Information about the engagement's global variables.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The global variable's type.",
                                  "example": "system"
                                },
                                "value": {
                                  "type": "string",
                                  "description": "The global variable's value.",
                                  "example": "value A"
                                },
                                "group_name": {
                                  "type": "string",
                                  "description": "The global variable's group name.",
                                  "example": "group A"
                                },
                                "group_id": {
                                  "type": "string",
                                  "description": "The global variable's group ID.",
                                  "example": "1688149024708"
                                },
                                "variable_name": {
                                  "type": "string",
                                  "description": "The global variable's name.",
                                  "example": "variable A"
                                },
                                "variable_id": {
                                  "type": "string",
                                  "description": "The global variable's ID.",
                                  "example": "h9NNoHkwTrqEEiQ3e8ATOw"
                                },
                                "need_mask": {
                                  "type": "boolean",
                                  "description": "If the global variable needs mask.",
                                  "example": true
                                },
                                "need_store": {
                                  "type": "boolean",
                                  "description": "If the global variable needs store.",
                                  "example": true
                                }
                              },
                              "description": "The engagement's global variables."
                            }
                          },
                          "outcome": {
                            "type": "string",
                            "description": "The outcome of the engagement.",
                            "example": "assistanceRequested"
                          },
                          "launch_url": {
                            "type": "string",
                            "description": "The URL of the transcript of the engagement, such as a link to the transcript as a secured embeddable web page.\n",
                            "example": "https://zoom.us"
                          },
                          "query_summary": {
                            "type": "object",
                            "properties": {
                              "query_ids": {
                                "type": "array",
                                "description": "The engagement's query IDs.",
                                "items": {
                                  "type": "string",
                                  "description": "The engagement's query ID.",
                                  "example": "kkvuqwaosrm9itxqthxirq"
                                }
                              },
                              "count": {
                                "type": "integer",
                                "description": "The total count of the engagement's query IDs.",
                                "example": 12
                              }
                            },
                            "description": "The summary of queries in an engagement."
                          },
                          "Intent_summary": {
                            "type": "object",
                            "properties": {
                              "intents_matched": {
                                "type": "array",
                                "description": "The matched custom intents in the engagement.",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "intent_id": {
                                      "type": "string",
                                      "description": "The intent's ID",
                                      "example": "sbyW0BwLTUSKGzDsqcfnCQ"
                                    },
                                    "intent_name": {
                                      "type": "string",
                                      "description": "The intent's name.",
                                      "example": "Contact Support copy"
                                    },
                                    "intent_type": {
                                      "type": "string",
                                      "description": "The intent's type. \n* `custom_intent`\n* `small_talk`\n* `default_intent`\n* FAQ",
                                      "example": "faq",
                                      "default": "default_intent",
                                      "enum": [
                                        "custom_intent",
                                        "small_talk",
                                        "default_intent",
                                        "faq"
                                      ]
                                    },
                                    "accuracy": {
                                      "type": "number",
                                      "description": "The intent's accuracy, from 0 to 1. 0.5 means this intent has 50% accuracy.",
                                      "example": 0.5
                                    },
                                    "system_intent": {
                                      "type": "boolean",
                                      "description": "Whether this record belongs to the system intent.",
                                      "example": true
                                    }
                                  },
                                  "description": "The engagement's bot intent."
                                }
                              },
                              "count": {
                                "type": "integer",
                                "description": "The total count of the matched engagement's intents.",
                                "example": 10
                              }
                            },
                            "description": "The summary of the matched custom intents in the engagement."
                          },
                          "language_code": {
                            "type": "string",
                            "description": "The language code for the engagement.",
                            "example": "en-US",
                            "default": "en-US",
                            "enum": [
                              "en-GB",
                              "en-US",
                              "ar",
                              "da-DK",
                              "de-DE",
                              "es-ES",
                              "es-MX",
                              "fr-CA",
                              "fr-FR",
                              "it-IT",
                              "ja",
                              "ko-KR",
                              "nl-NL",
                              "pt-BR",
                              "pt-PT",
                              "ru",
                              "zh-CN",
                              "zh-HK"
                            ]
                          },
                          "query_details": {
                            "type": "array",
                            "description": "The engagement's query details.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "query_id": {
                                  "type": "string",
                                  "description": "The query's ID.",
                                  "example": "0b883910-0783-4383-9dcf-b5c9ba315438"
                                },
                                "engagement_id": {
                                  "type": "string",
                                  "description": "The engagement's ID.",
                                  "example": "ioknax-4siqztcqwga0xug"
                                },
                                "bot_id": {
                                  "type": "string",
                                  "description": "The bot's ID that the engagement uses.",
                                  "example": "FZOKnPjmTse9ISSvQN4Zjg"
                                },
                                "bot_session_id": {
                                  "type": "string",
                                  "description": "The bot session's ID.",
                                  "example": "ioknax-4siqztcqwga0xug"
                                },
                                "query_time": {
                                  "type": "string",
                                  "description": "The date and time when the query started in ISO 8601 format (**yyyy-MM-dd'T'HH:mm:ss'Z'** or **yyyy-MM-dd'T'HH:mm:ss**).",
                                  "format": "date-time",
                                  "example": "2023-07-11T22:17:49Z"
                                },
                                "language_code": {
                                  "type": "string",
                                  "description": "The language code for the query.",
                                  "example": "en-US",
                                  "default": "en-US",
                                  "enum": [
                                    "en-GB",
                                    "en-US",
                                    "ar",
                                    "da-DK",
                                    "de-DE",
                                    "es-ES",
                                    "es-MX",
                                    "fr-CA",
                                    "fr-FR",
                                    "it-IT",
                                    "ja",
                                    "ko-KR",
                                    "pt-BR",
                                    "pt-PT",
                                    "ru",
                                    "zh-CN",
                                    "zh-HK",
                                    "nl-NL"
                                  ]
                                },
                                "query_text": {
                                  "type": "string",
                                  "description": "The query's text.",
                                  "example": "Route 1"
                                },
                                "intents": {
                                  "type": "array",
                                  "description": "The intents associated with the query.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "intent_id": {
                                        "type": "string",
                                        "description": "The intent's ID",
                                        "example": "sbyW0BwLTUSKGzDsqcfnCQ"
                                      },
                                      "intent_name": {
                                        "type": "string",
                                        "description": "The intent's name.",
                                        "example": "Contact Support copy"
                                      },
                                      "intent_type": {
                                        "type": "string",
                                        "description": "The intent's type. \n* `custom_intent`\n* `small_talk`\n* `default_intent`\n* FAQ",
                                        "example": "faq",
                                        "default": "default_intent",
                                        "enum": [
                                          "custom_intent",
                                          "small_talk",
                                          "default_intent",
                                          "faq"
                                        ]
                                      },
                                      "accuracy": {
                                        "type": "number",
                                        "description": "The intent's accuracy. From 0 to 1. (e.g. 0.5 means this intent has 50% accuracy.)",
                                        "example": 0.5
                                      },
                                      "system_intent": {
                                        "type": "boolean",
                                        "description": "Whether this record belongs to the system intent.",
                                        "example": true
                                      }
                                    },
                                    "description": "The top intent associated with the query."
                                  }
                                },
                                "articles": {
                                  "type": "array",
                                  "description": "The query's articles.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string",
                                        "description": "The article's ID.",
                                        "example": "-0zryh7dTEyY9HADPHm_dA"
                                      },
                                      "title": {
                                        "type": "string",
                                        "description": "The article's title.",
                                        "example": "Can I edit my chat welcome screen?"
                                      },
                                      "answer": {
                                        "type": "string",
                                        "description": "The article's answer.",
                                        "example": "Yes, you can customize the following settings for the chat welcome screen."
                                      },
                                      "url": {
                                        "type": "string",
                                        "description": "The article's URL.",
                                        "example": "https://docs.google.com/"
                                      },
                                      "score": {
                                        "type": "number",
                                        "description": "The article's socre, from 0 to 1.",
                                        "example": 0.5
                                      },
                                      "kb_details": {
                                        "type": "array",
                                        "description": "The article's knowledge base detail list.",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "kb_id": {
                                              "type": "string",
                                              "description": "The knowledge base's ID.",
                                              "example": "-0zryh7dTEyY9HADPHm_dA"
                                            },
                                            "kb_name": {
                                              "type": "string",
                                              "description": "The knowledge base's name.",
                                              "example": "default knowledge base"
                                            },
                                            "kb_groups": {
                                              "type": "array",
                                              "description": "The article's knowledge base group.",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string",
                                                    "description": "The knowledge base group ID.",
                                                    "example": "2"
                                                  },
                                                  "name": {
                                                    "type": "string",
                                                    "description": "The knowledge base group name.",
                                                    "example": "default name"
                                                  }
                                                },
                                                "description": "The knowledge base group"
                                              }
                                            }
                                          },
                                          "description": "The article's knowledge base detail."
                                        }
                                      }
                                    },
                                    "description": "The top knowledge base article associated with the query."
                                  }
                                }
                              },
                              "description": "Query Detail"
                            }
                          },
                          "end_time": {
                            "type": "string",
                            "description": "The engagement end time and date in **yyyy-MM-dd'T'HH:mm:ss'Z'** format.",
                            "format": "date-time",
                            "example": "2023-07-12T22:17:49Z"
                          }
                        },
                        "description": "The single engagement that returns."
                      }
                    },
                    "from": {
                      "type": "string",
                      "description": "The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returnz data from the past 24 hours.",
                      "format": "date-time",
                      "example": "2023-07-01T00:00:00Z"
                    },
                    "to": {
                      "type": "string",
                      "description": "**Required** only when the **from** parameters is specified. The end time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, the same format as the **from** parameter.",
                      "format": "date-time",
                      "example": "2023-07-02T23:59:59Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1001` <br>\n User does not exist. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva_report:read",
              "zva_report:read:admin",
              "zva:read:list_engagements:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 3.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva_report:read",
            "zva_report:read:admin"
          ],
          "x-granular-scopes": [
            "zva:read:list_engagements:admin"
          ]
        }
      }
    },
    "/virtual_agent/report/engagements/query_details": {
      "get": {
        "tags": [
          "Report"
        ],
        "summary": "Get ZVA query details",
        "description": "Returns a list of ZVA engagement query details.\n\n**Scopes:** `zva_report:read`,`zva_report:read:admin`\n\n**Granular Scopes:** `zva:read:list_queries:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
        "operationId": "GetZVAQueryDetails",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-07-01"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": " The field is **required** only when the **from** parameter is specified. The end time and date is in the **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2023-07-02"
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "UTC"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of items returned per page. \nConstraints: Max: 100 Default: 10",
            "required": false,
            "schema": {
              "maximum": 100,
              "type": "integer",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"
            }
          },
          {
            "name": "engagement_ids",
            "in": "query",
            "description": "The engagement IDs string separated by \",\".",
            "required": false,
            "schema": {
              "type": "string",
              "example": "N-ecLZBoS-ayCabdwDQSrA,MDP1xR_CQ0eJzHmPT9jOUA"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` <br> ZVA engagement query details successfully returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "The start time and date in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format. The defined date range should be a month, as the response only includes one month's worth of data. If no start date is specified, it returns data from the past 24 hours.",
                      "format": "date-time",
                      "example": "2023-07-01T00:00:00Z"
                    },
                    "to": {
                      "type": "string",
                      "description": " This field is **required** only when the **from** parameter is specified. The end time and date is in **yyyy-mm-dd** or **yyyy-MM-dd'T'HH:mm:ss'Z'** format, which is the same format as the **from** parameter.",
                      "format": "date-time",
                      "example": "2023-07-02T23:59:59Z"
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "ngLawmAGlYagy37vLJtKMM4TkMnagfqWm73"
                    },
                    "page_size": {
                      "maximum": 100,
                      "type": "integer",
                      "description": "The number of records returned within a single API call. Constraints: Max: 100 Default: 10",
                      "example": 10,
                      "default": 10
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of all the records available across pages.",
                      "example": 22
                    },
                    "timezone": {
                      "type": "string",
                      "description": "The call's [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists/#timezones). The default is **UTC**.",
                      "example": "UTC"
                    },
                    "engagement_query_details": {
                      "type": "array",
                      "description": "The list for the engagement query details.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "engagement_id": {
                            "type": "string",
                            "description": "The engagement's ID.",
                            "example": "NF1kPajwRCGa9-cgHWGAQw"
                          },
                          "query_details": {
                            "type": "array",
                            "description": "The query details list that belong to the engagement.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "query_id": {
                                  "type": "string",
                                  "description": "The query's ID.",
                                  "example": "0b883910-0783-4383-9dcf-b5c9ba315438"
                                },
                                "bot_id": {
                                  "type": "string",
                                  "description": "The bot's ID that the query uses.",
                                  "example": "FZOKnPjmTse9ISSvQN4Zjg"
                                },
                                "bot_session_id": {
                                  "type": "string",
                                  "description": "The bot session's ID.",
                                  "example": "ioknax-4siqztcqwga0xug"
                                },
                                "query_time": {
                                  "type": "string",
                                  "description": "The date and time when the query started in ISO 8601 format (**yyyy-MM-dd'T'HH:mm:ss'Z'** or **yyyy-MM-dd'T'HH:mm:ss**).",
                                  "format": "date-time",
                                  "example": "2023-07-11T22:17:49Z"
                                },
                                "language_code": {
                                  "type": "string",
                                  "description": "The language code for the query.",
                                  "example": "en-US",
                                  "default": "en-US",
                                  "enum": [
                                    "en-GB",
                                    "en-US",
                                    "ar",
                                    "da-DK",
                                    "de-DE",
                                    "es-ES",
                                    "es-MX",
                                    "fr-CA",
                                    "fr-FR",
                                    "it-IT",
                                    "ja",
                                    "ko-KR",
                                    "pt-BR",
                                    "pt-PT",
                                    "ru",
                                    "zh-CN",
                                    "zh-HK",
                                    "nl-NL"
                                  ]
                                },
                                "query_text": {
                                  "type": "string",
                                  "description": "The query's text.",
                                  "example": "Route 1"
                                },
                                "intents": {
                                  "type": "array",
                                  "description": "The intents associated with the query.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "intent_id": {
                                        "type": "string",
                                        "description": "The intent's ID.",
                                        "example": "sbyW0BwLTUSKGzDsqcfnCQ"
                                      },
                                      "intent_name": {
                                        "type": "string",
                                        "description": "The intent's name.",
                                        "example": "Contact Support copy"
                                      },
                                      "intent_type": {
                                        "type": "string",
                                        "description": "The intent's type.",
                                        "example": "faq",
                                        "default": "default_intent",
                                        "enum": [
                                          "custom_intent",
                                          "small_talk",
                                          "default_intent",
                                          "faq"
                                        ]
                                      },
                                      "accuracy": {
                                        "type": "number",
                                        "description": "The intent's accuracy. From 0 to 1. (e.g. 0.5 means this intent has 50% accuracy.)",
                                        "example": 0.5
                                      },
                                      "system_intent": {
                                        "type": "boolean",
                                        "description": "If this record belongs to the system intent.",
                                        "example": false,
                                        "default": true
                                      }
                                    },
                                    "description": "The top intent associated with the query."
                                  }
                                },
                                "articles": {
                                  "type": "array",
                                  "description": "The query's articles.",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "article_id": {
                                        "type": "string",
                                        "description": "The article's ID.",
                                        "example": "-0zryh7dTEyY9HADPHm_dA"
                                      },
                                      "article_title": {
                                        "type": "string",
                                        "description": "The article's title.",
                                        "example": "Can I edit my chat welcome screen?"
                                      },
                                      "article_answer": {
                                        "type": "string",
                                        "description": "The article's answer.",
                                        "example": "Yes, you can customize the following settings for the chat welcome screen."
                                      },
                                      "article_url": {
                                        "type": "string",
                                        "description": "The article's URL.",
                                        "example": "https://docs.google.com/"
                                      },
                                      "article_score": {
                                        "type": "number",
                                        "description": "The article's score from 0 to 1.",
                                        "example": 0.5
                                      },
                                      "kb_details": {
                                        "type": "array",
                                        "description": "The list for the article's knowledge base details.",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "kb_id": {
                                              "type": "string",
                                              "description": "The knowledge base's ID.",
                                              "example": "0zryh7dTEyY9HADPHm_dA"
                                            },
                                            "kb_name": {
                                              "type": "string",
                                              "description": "The knowledge base's name.",
                                              "example": "default knowledge base"
                                            },
                                            "kb_groups": {
                                              "type": "array",
                                              "description": "The article's knowledge base group.",
                                              "items": {
                                                "type": "object",
                                                "properties": {
                                                  "group_id": {
                                                    "type": "string",
                                                    "description": "The knowledge base group ID.",
                                                    "example": "2"
                                                  },
                                                  "group_name": {
                                                    "type": "string",
                                                    "description": "The knowledge base group name.",
                                                    "example": "default name"
                                                  }
                                                },
                                                "description": "The knowledge base group."
                                              }
                                            }
                                          },
                                          "description": "The article's knowledge base detail."
                                        }
                                      }
                                    },
                                    "description": "The top knowledge base article associated with the query."
                                  }
                                }
                              },
                              "description": "The query detail."
                            }
                          }
                        },
                        "description": "The object for the engagement query details."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `1002` <br>\n Unable to fetch query details. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `1001` <br>\n Engagement does not exist: $engagement_ids <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "zva_report:read",
              "zva_report:read:admin",
              "zva:read:list_queries:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-fixVersion": "ZVA 3.6.0",
          "x-permissions": [],
          "x-macro-scopes": [
            "zva_report:read",
            "zva_report:read:admin"
          ],
          "x-granular-scopes": [
            "zva:read:list_queries:admin"
          ]
        }
      }
    }
  },
  "components": {}
}
