{"openapi":"3.0.0","info":{"title":"Zoom Clips API","description":"Zoom Clips APIs","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://zoom.us/"}],"paths":{"/clips/files":{"post":{"tags":["Clips"],"summary":"Upload clip file","description":"Uploads a file to Zoom Revenue Acclerator. \n\n **Note:**  \n* Base URL: `https://fileapi.zoom.us/v2/`.  \n* Rate limit: 20 requests per second per user or 2000 requests per second per IP address.\n* The caller must support HTTP 30x redirects. \n* The caller must retain the Authorization header when redirected to a different hostname. \n* Supported video formats: `.mp4`, `.webm`.\n* When your object size reaches 2 GB, you should use multipart uploads instead of uploading the object in a single operation.\n* For an **account-level** [OAuth app](https://developers.zoom.us/docs/integrations/create/), this API can only be used on behalf of a user who is assigned with a [role](https://support.zoom.us/hc/en-us/articles/115001078646-Using-role-management#:~:text=Each%20user%20in%20a%20Zoom,owner%2C%20administrator%2C%20or%20member.&amp;text=Role%2Dbased%20access%20control%20enables,needs%20to%20view%20or%20edit.) with **Edit** permission for **Zoom Clips**.\n\n**Scopes:** `clips:write`,`clips:write:admin`","operationId":"UploadClipFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","description":"The upload file, in binary format. You can only send a maximum of two gigabytes.","format":"binary"}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`   \n \nFile successfully uploaded.","content":{"application/json":{"schema":{"type":"object","properties":{"clip_id":{"type":"string","description":"The clip's unique ID.","example":"xBvggqyjQUal6TecwMlYwE"}}}}}}},"security":[{"openapi_oauth":["clips:write","clips:write:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"WebMarvel-2024-02-19","x-permissions":["Clip:Edit"],"x-macro-scopes":["clips:write","clips:write:admin"]}}},"/clips/files/multipart":{"post":{"tags":["Clips"],"summary":"Upload clip multipart files","description":"Uploads a multipart file. \n\n **Note:** \n* The base URL for this API is `https://fileapi.zoom.us/v2/`. \n* The rate limit of this API is 20 requests per second or 2000 requests per second per IP address. \n* The caller must support HTTP 30x redirects. \n* The caller must retain the authorization header when redirected to a different hostname. \n* Video can be in `.mp4`, `.webm` format.\n* In general, when your object size reaches 2 GB, you should use multipart uploads instead of uploading the object in a single operation.\n* For an **account-level** [OAuth app](https://marketplace.zoom.us/docs/guides/getting-started/app-types/create-oauth-app), this API can only be used on behalf of a user who is assigned with a [role](https://support.zoom.us/hc/en-us/articles/115001078646-Using-role-management#:~:text=Each%20user%20in%20a%20Zoom,owner%2C%20administrator%2C%20or%20member.&amp;text=Role%2Dbased%20access%20control%20enables,needs%20to%20view%20or%20edit.) that has the **Edit** permission for **Zoom Clips**. \n\n**Scopes:** `clips:write`,`clips:write:admin`","operationId":"UploadIqMultipartClipFile","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file","part_number","upload_context"],"type":"object","properties":{"file":{"type":"string","description":"The upload file, in binary format. \n\nEach part must be at most 100 MB in size, and at least 5 MB in size, except the last part.","format":"binary"},"upload_context":{"type":"string","description":"When uploading multipart files, use the upload context to identify the multipart upload whose part is being uploaded.","example":"noNpr2pkBEv4_fTxYWDEHBsSs3pl8keRx4fPZmnyNDe.SPdodJp.3UZDaCI2xRVzkRh0xeEV6RuOrXZpJQBPutWCS424c2YnHVxVh8b9.4DNwd4VErRuD98jeJBwRCgz6rC3I4NQg5zXAtCqPFoC0g--"},"part_number":{"type":"integer","description":"When uploading multipart files, this field indicates the part number of the part being uploaded . This field is a positive integer between 1 and 100.","example":10}}}}}},"responses":{"201":{"description":"**HTTP Status Code:** `201`   \n \nFile successfully uploaded.","content":{"application/json":{"schema":{"type":"object","properties":{"part_number_etag":{"type":"object","properties":{"part_number":{"type":"integer","description":"The part number of the part being uploaded.","example":1},"etag":{"type":"string","description":"The etag of the part being uploaded.","example":"etag1"}},"description":"The etag part number . \n\nCollect and bring it back in the final request to complete the multipart upload request."}}}}}}},"security":[{"openapi_oauth":["clips:write","clips:write:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"WebMarvel-2024-02-19","x-permissions":["Clip:Edit"],"x-macro-scopes":["clips:write","clips:write:admin"]}}},"/clips/files/multipart/upload_events":{"post":{"tags":["Clips"],"summary":"Initiate and complete the multipart file upload for a clip","description":"Initiates or completes a multipart upload. \n\n **Note:** \n* The base URL for this API is `https://fileapi.zoom.us/v2/`. \n* The rate limit is 20 requests per second or 2000 requests per second per IP address.\n* The caller must support HTTP 30x redirects. \n* The caller must retain the authorization header when redirected to a different hostname. \n* Once initiated, the multipart upload must complete within 7 days. \n* For **account-level** [OAuth apps](https://marketplace.zoom.us/docs/guides/getting-started/app-types/create-oauth-app), this API can only be used on behalf of a user who is assigned with a [role](https://support.zoom.us/hc/en-us/articles/115001078646-Using-role-management#:~:text=Each%20user%20in%20a%20Zoom,owner%2C%20administrator%2C%20or%20member.&amp;text=Role%2Dbased%20access%20control%20enables,needs%20to%20view%20or%20edit.) with **Edit** permission for **Zoom Clips**.\n\n**Scopes:** `clips:write`,`clips:write:admin`","operationId":"InitiateAndCompleteAClipMultipartUpload.","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"required":["method"],"type":"object","properties":{"method":{"type":"string","description":"The method to upload events: \n* `CreateMultipartUpload` — Create a multipart upload.","example":"CreateMultipartUpload","enum":["CreateMultipartUpload"]},"params":{"type":"object","properties":{"file_name":{"type":"string","description":"The clip file's name.","example":"file name"}},"description":"The CreateMultipartUpload parameters."}}},{"required":["method"],"type":"object","properties":{"method":{"type":"string","description":"The method to upload events: \n* `CompleteMultipartUpload` — Complete a multipart upload.","example":"CompleteMultipartUpload","enum":["CompleteMultipartUpload"]},"params":{"type":"object","properties":{"upload_context":{"type":"string","description":"The upload context that identifies the multipart upload being uploaded.","example":"noNpr2pkBEv4_fTxYWDEHBsSs3pl8keRx4fPZmnyNDe.SPdodJp.3UZDaCI2xRVzkRh0xeEV6RuOrXZpJQBPutWCS424c2YnHVxVh8b9.4DNwd4VErRuD98jeJBwRCgz6rC3I4NQg5zXAtCqPFoC0g--"},"part_number_etags":{"type":"array","description":"The part number of the etags being uploaded.","items":{"type":"object","properties":{"part_number":{"type":"integer","description":"The part number of the part being uploaded.","example":1},"etag":{"type":"string","description":"The etag of the part being uploaded.","example":"etag1"}}}}},"description":"The parameters for the complete multipart upload."}}}]}}}},"responses":{"201":{"description":"**Status Code:** `201`   \n \nSuccessfully initiate and complete a multipart upload.","content":{"application/json":{"schema":{"oneOf":[{"type":"object","properties":{"upload_context":{"type":"string","description":"The upload context. Return this field if you pass the `CreateMultipartUpload` value for the `method` field. \n\n**Note:**\nUse this upload context to associate all of the parts in the specific multipart upload. You specify this upload context in each of your subsequent upload part requests. You also include this upload context in the final request to complete the multipart upload request.","example":"noNpr2pkBEv4_fTxYWDEHBsSs3pl8keRx4fPZmnyNDe.SPdodJp.3UZDaCI2xRVzkRh0xeEV6RuOrXZpJQBPutWCS424c2YnHVxVh8b9.4DNwd4VErRuD98jeJBwRCgz6rC3I4NQg5zXAtCqPFoC0g--"}}},{"type":"object","properties":{"clip_id":{"type":"string","description":"The clip file's unique ID. \nReturn this field if you pass the `CompleteMultipartUpload` value for the `method` field.","example":"xBvggqyjQUal6TecwMlYwQ"}}}]}}}}},"security":[{"openapi_oauth":["clips:write","clips:write:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"WebMarvel-2024-02-19","x-permissions":["Clip:Edit"],"x-macro-scopes":["clips:write","clips:write:admin"]}}}},"components":{"securitySchemes":{"openapi_authorization":{"type":"apiKey","name":"Authorization","in":"header"},"openapi_oauth":{"type":"oauth2","flows":{"authorizationCode":{"authorizationUrl":"/","tokenUrl":"","refreshUrl":"","scopes":{"clips:write":"clips:write","clips:write:admin":"clips:write:admin"}}}}}}}