{"openapi":"3.0.0","info":{"title":"Zoom Scheduler API","description":"Zoom Scheduler","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"version":"2"},"externalDocs":{"description":"Find out more about Swagger","url":"https://swagger.io"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/scheduler/availability":{"get":{"tags":["availability"],"summary":"List availability","description":"Returns the availability schedules of the given user.\n\n**Scopes:** `scheduler:read:admin`,`scheduler:read`\n\n**Granular Scopes:** `scheduler:read:list_availability`,`scheduler:read:list_availability:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"list_availability","parameters":[{"name":"page_size","in":"query","description":"The maximum number of availability returned on one result page.","required":false,"schema":{"type":"integer","example":250}},{"name":"next_page_token","in":"query","description":"The token that specifies which result page to return.","required":false,"schema":{"type":"string","example":"Cj8KLwotCgsI3ujvqgYQgIXUGxIeChwKGjBzNzAyZWVtbjBzOTdlZXFhNXE1NWg4ZWJtGgwIzIPVrAYQwM3WrAPAPgE="}},{"name":"user_id","in":"query","description":"The return of the specific user's availability.","required":false,"schema":{"type":"string","example":"x3h1u4id4liffdyszsp8kpxl80@scheduler.zoom.us"}}],"responses":{"200":{"description":"Successful availability schedules query result of given user.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":" The token used at a later point in time to retrieve only the entries that have changed since this result was returned. It's omitted if further results are available, in which case `nextPageToken` is provided.","example":"Cj8KLwotCgsI3ujvqgYQgIXUGxIeChwKGjBzNzAyZWVtbjBzOTdlZXFhNXE1NWg4ZWJtGgwIzIPVrAYQwM3WrAPAPgE="},"items":{"type":"array","description":"array[User Availability Schedule]","items":{"type":"object","properties":{"availability_id":{"type":"string","example":"x3h1u4id4liffdyszsp8kpxl80"},"default":{"type":"boolean","example":true},"name":{"type":"string","example":"Working hours"},"owner":{"type":"string","description":"The owner's ID.","example":"easonfsxsysks3lgchitiw@scheudler.zoom.us"},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}}},"time_zone":{"type":"string","example":"Asia/Shanghai"}}}}},"description":"The availability schedules query result of given user."}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n notFound <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n conflict <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n internalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:read:admin","scheduler:read","scheduler:read:list_availability","scheduler:read:list_availability:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:read:admin","scheduler:read"],"x-granular-scopes":["scheduler:read:list_availability","scheduler:read:list_availability:admin"]}},"post":{"tags":["availability"],"summary":"Insert availability","description":"Inserts a user availability schedule. \n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:write:availability`,`scheduler:write:availability:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"insert_availability","requestBody":{"description":"In the request body, it supplies an availability resource properties.","content":{"application/json":{"schema":{"required":["name","time_zone"],"type":"object","properties":{"availability_id":{"type":"string","description":"The unique ID of availability.","readOnly":true,"example":"x3h1u4id4liffdyszsp8kpxl80"},"default":{"type":"boolean","description":"The default availability schedule in use."},"owner":{"type":"string","description":"the owner's ID.","readOnly":true,"example":"easonfsxsysks3lgchitiw@scheudler.zoom.us"},"name":{"minLength":1,"type":"string","description":"The name of this availability schedule.","example":"Working hours"},"time_zone":{"type":"string","description":"The timezone for which this availability schedule originates.","example":"Asia/Shanghai"},"segments":{"type":"array","description":"The date on which the rule needs to be applied outside of the availability rule.","items":{"required":["end","start"],"type":"object","properties":{"end":{"type":"string","description":"This field indicates the end date to override.","example":"2024-01-08T09:00:00Z"},"start":{"type":"string","description":"This field indicates the start date to override.","example":"2024-01-07T09:00:00Z"}},"description":"The date interval to override."}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The rules of this availability schedule."}},"description":"The availability schedule set by the user."}}}},"responses":{"201":{"description":"If successful, this method returns a availability resource in the response body.","content":{"application/json":{"schema":{"type":"object","properties":{"default":{"type":"boolean","description":"The default availability schedule in use.","example":false},"availability_id":{"type":"string","description":"The unique ID of the availability.","example":"x3h1u4id4liffdyszsp8kpxl80"},"name":{"type":"string","description":"The name of this availability schedule.","example":"Working hours"},"owner":{"type":"string","description":"An URI reference to a user.","example":"easonfsxsysks3lgchitiw"},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The rules of this availability schedule."},"time_zone":{"type":"string","description":"The timezone for which this availability schedule originates.","example":"Asia/Shanghai"},"segments":{"type":"array","description":"The date on which the rule needs to be applied outside of the availability rule.","items":{"type":"object","description":"The date interval to override."}}},"description":"The availability schedule set by the user."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n invalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n unauthorized <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n conflict <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n internalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:write:availability","scheduler:write:availability:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:write:availability","scheduler:write:availability:admin"]}}},"/scheduler/availability/{availabilityId}":{"get":{"tags":["availability"],"summary":"Get availability ","description":"Returns the availability schedule of the given UUID.\n\n**Scopes:** `scheduler:read:admin`,`scheduler:read`\n\n**Granular Scopes:** `scheduler:read:availability`,`scheduler:read:availability:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"get_availability","parameters":[{"name":"availabilityId","in":"path","description":"The UUID of the availability schedule.","required":true,"schema":{"type":"string","example":"x3h1u4id4liffdyszsp8kpxl80"}}],"responses":{"200":{"description":"If successful, this method returns an availability resource in the response body.","content":{"application/json":{"schema":{"type":"object","properties":{"availability_id":{"type":"string","description":"The unique ID of availability.","example":"x3h1u4id4liffdyszsp8kpxl80"},"default":{"type":"boolean","description":"The default availability schedule in use.","example":true},"name":{"type":"string","description":"The name of this availability schedule.","example":"Working hours"},"owner":{"type":"string","description":"The owner's ID.","readOnly":true,"example":"easonfsxsysks3lgchitiw@scheudler.zoom.us"},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The rules of this availability schedule."},"time_zone":{"type":"string","description":"The timezone for which this availability schedule originates.","example":"Asia/Shanghai"}},"description":"The availability schedule set by the user."}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n invalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n unauthorized <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n notFound <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n conflict <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n internalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:read:admin","scheduler:read","scheduler:read:availability","scheduler:read:availability:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:read:admin","scheduler:read"],"x-granular-scopes":["scheduler:read:availability","scheduler:read:availability:admin"]}},"delete":{"tags":["availability"],"summary":"Delete availability","description":"Removes a user's availability.\n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:delete:availability`,`scheduler:delete:availability:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"delete_availability","parameters":[{"name":"availabilityId","in":"path","description":" The UUID of the availability schedule.","required":true,"schema":{"type":"string","example":"x3h1u4id4liffdyszsp8kpxl80"}}],"responses":{"204":{"description":"If successful, this method returns an empty response body."},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n notFound <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n internalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:delete:availability","scheduler:delete:availability:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:delete:availability","scheduler:delete:availability:admin"]}},"patch":{"tags":["availability"],"summary":"Patch availability","description":"Adjusts the availability schedule content of the given UUID.\n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:update:availability`,`scheduler:update:availability:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"patch_availability","parameters":[{"name":"availabilityId","in":"path","description":"The UUID of the availability schedule.","required":true,"schema":{"type":"string","example":"x3h1u4id4liffdyszsp8kpxl80"}}],"requestBody":{"description":"In the request body, supply availability resource properties.","content":{"application/json":{"schema":{"required":["name","time_zone"],"type":"object","properties":{"default":{"type":"boolean","description":"The default availability schedule in use."},"name":{"minLength":1,"type":"string","description":"The name of this availability schedule.","example":"Working hours"},"time_zone":{"type":"string","description":"The timezone for which this availability schedule originates.","example":"Asia/Shanghai"},"segments":{"type":"array","description":"The date on which the rule needs to be applied outside of the availability rule.","items":{"required":["end","start"],"type":"object","properties":{"end":{"type":"string","description":"The end date to override.","example":"2024-01-08T09:00:00Z"},"start":{"type":"string","description":"The start date to override.","example":"2024-01-07T09:00:00Z"}},"description":"The date interval that needs to overridden."}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The rules of this availability schedule."}},"description":"The availability schedule set by the user."}}}},"responses":{"204":{"description":"If successful, this method returns an empty response body."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n invalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n unauthorized <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n notFound <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n conflict <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n internalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:update:availability","scheduler:update:availability:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:update:availability","scheduler:update:availability:admin"]}}},"/scheduler/events":{"get":{"tags":["scheduled events"],"summary":"List scheduled events","description":"Returns a list of all scheduled events.\n\n**Scopes:** `scheduler:read:admin`,`scheduler:read`\n\n**Granular Scopes:** `scheduler:read:list_scheduled_events`,`scheduler:read:list_scheduled_events:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"list_scheduled_events","parameters":[{"name":"to","in":"query","description":"The upper bound (exclusive) for an event's start time from which to filter.","required":false,"schema":{"type":"string","example":"2011-06-03T10:00:00-07:00"}},{"name":"from","in":"query","description":"The lower bound (exclusive) for an event's end time from which to filter. ","required":false,"schema":{"type":"string","example":"2011-06-03T10:00:00-07:00"}},{"name":"page_size","in":"query","description":"The maximum number of events returned on one result page.","required":false,"schema":{"type":"integer","example":250}},{"name":"order_by","in":"query","description":"This field indicates the start time or the time when the event has been updated.","required":false,"schema":{"type":"string","example":"startTime"}},{"name":"time_zone","in":"query","description":"The time zone in the response.","required":false,"schema":{"type":"string","example":"UTC"}},{"name":"next_page_token","in":"query","description":"The token that specifies which result page to return.","required":false,"schema":{"type":"string","example":"ffffffff97c5b97f_53slvrhet2n0xkxurl5ybgde40"}},{"name":"show_deleted","in":"query","description":"Whether to include deleted events (with status equals `cancelled`) in the result.","required":false,"schema":{"type":"boolean","example":true}},{"name":"event_type","in":"query","description":"Whether to return the pending events.","required":false,"schema":{"type":"string","example":"pending","enum":["pending"]}}],"responses":{"200":{"description":"If successful, this method returns a response body with the following structure:","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The token to access the next page of this result.","example":"ffffffff97c5b97f_53slvrhet2n0xkxurl5ybgde40"},"items":{"type":"array","items":{"type":"object","properties":{"event_id":{"type":"string","description":"The unique identifier of event.","example":"woft7torlatbw8ek24bmit5k60"},"schedule_id":{"type":"string","description":"The unique identifier of schedule.","example":"ygfx661g9x8dwcgeusdqhsplc0_20231220T160000Z"},"attendees":{"type":"array","description":"The attendees of the event.","items":{"type":"object","properties":{"booker":{"type":"boolean","description":"Whether the attendee is the booker.","readOnly":true,"example":true},"created":{"type":"string","description":"This field indicates when the attendee attended this event.","readOnly":true,"example":"2023-12-21T06:19:23.899Z"},"display_name":{"type":"string","description":"The attendee's name.","example":"bob"},"email":{"type":"string","description":"The attendee's email.","example":"abc@zoom.us"},"first_name":{"type":"string","description":"The attendee's first name.","example":"green"},"attendee_id":{"type":"string","description":"The ID of attendee.","readOnly":true,"example":"z7q0q2962w8iyj87249zbi7t10"},"last_name":{"type":"string","description":" The attendee's last name.","example":"tom"},"time_zone":{"type":"string","description":"The attendee's time zone.","example":"Asia/Shanghai"},"no_show":{"type":"boolean","description":"Whether to show events or not.","example":false}}}},"description":{"maxLength":8192,"type":"string","description":"The event's description.","example":"15 Minute Meeting"},"end_date_time":{"type":"string","description":"The scheduled event end date time.","example":"2023-12-21T16:30:00+08:00"},"guests":{"type":"array","description":"The guest's collection.","items":{"type":"string","description":"guest's email","example":"tom@zoom.us"}},"location":{"maxLength":1024,"type":"string","description":"The information for a custom location.","example":"AAA office"},"start_date_time":{"type":"string","description":"The scheduled event start date time.","example":"2023-12-21T16:00:00+08:00"},"status":{"type":"string","description":"The status of event: confirmed or cancelled.","example":"confirmed","enum":["confirmed","cancelled"]},"summary":{"maxLength":256,"type":"string","description":"The event's summary.","example":"daily meeting"},"updated":{"type":"string","description":"The moment the event was updated.","example":"2023-12-21T06:19:28.309Z"},"meeting_notes":{"maxLength":1024,"type":"string","description":"The meeting notes of the event.","example":"meeting notes"},"event_type":{"type":"string","description":"This field indicates the type is default(scheduled) or pending event.","readOnly":true,"example":"default","enum":["default","pending"]}}}}}}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n InternalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:read:admin","scheduler:read","scheduler:read:list_scheduled_events","scheduler:read:list_scheduled_events:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:read:admin","scheduler:read"],"x-granular-scopes":["scheduler:read:list_scheduled_events","scheduler:read:list_scheduled_events:admin"]}}},"/scheduler/events/{eventId}":{"get":{"tags":["scheduled events"],"summary":"Get scheduled events ","description":"Returns a scheduled event.\n\n**Scopes:** `scheduler:read:admin`,`scheduler:read`\n\n**Granular Scopes:** `scheduler:read:scheduled_event`,`scheduler:read:scheduled_event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"get_scheduled_events","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"If successful, this method returns the scheduled event resource in the response body.","content":{"application/json":{"schema":{"type":"object","properties":{"event_id":{"type":"string","description":"The unique identifier of event.","example":"woft7torlatbw8ek24bmit5k60"},"schedule_id":{"type":"string","description":"The unique identifier of schedule.","example":"ygfx661g9x8dwcgeusdqhsplc0_20231220T160000Z"},"attendees":{"type":"array","description":"The attendees of the event.","items":{"type":"object","properties":{"booker":{"type":"boolean","description":"Whether the attendee is the booker.","readOnly":true,"example":true},"created":{"type":"string","description":"This field indicates when the attendee attended this event.","readOnly":true,"example":"2023-12-21T06:19:23.899Z"},"display_name":{"type":"string","description":"The attendee's name.","example":"bob"},"email":{"type":"string","description":"The attendee's email.","example":"abc@zoom.us"},"first_name":{"type":"string","description":"The attendee's first name.","example":"green"},"attendee_id":{"type":"string","description":"The ID of attendee.","readOnly":true,"example":"z7q0q2962w8iyj87249zbi7t10"},"last_name":{"type":"string","description":" The attendee's last name.","example":"tom"},"time_zone":{"type":"string","description":"The attendee's time zone.","example":"Asia/Shanghai"},"no_show":{"type":"boolean","description":"Whether or not to show the event.","example":false}}}},"description":{"maxLength":8192,"type":"string","description":"The event's description.","example":"15 Minute Meeting"},"end_date_time":{"type":"string","description":"The scheduled event's end date time.","example":"2023-12-21T16:30:00+08:00"},"guests":{"type":"array","description":"The guest's collection.","items":{"type":"string","description":"The guest's email.","example":"tom@zoom.us"}},"location":{"maxLength":1024,"type":"string","description":"The information for a custom location.","example":"AAA office"},"start_date_time":{"type":"string","description":"The scheduled event's start date time.","example":"2023-12-21T16:00:00+08:00"},"status":{"type":"string","description":"The status of event: confirmed or cancelled.","example":"confirmed","enum":["confirmed","cancelled"]},"summary":{"maxLength":256,"type":"string","description":"The event's summary.","example":"daily meeting"},"updated":{"type":"string","description":"The moment the event was updated.","example":"2023-12-21T06:19:28.309Z"},"meeting_notes":{"maxLength":1024,"type":"string","description":"The meeting notes of the event.","example":"meeting notes"},"event_type":{"type":"string","description":"Indicate the type is default(scheduled) or pending event.","readOnly":true,"example":"default","enum":["default","pending"]}}}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n NotFound <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n InternalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:read:admin","scheduler:read","scheduler:read:scheduled_event","scheduler:read:scheduled_event:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:read:admin","scheduler:read"],"x-granular-scopes":["scheduler:read:scheduled_event","scheduler:read:scheduled_event:admin"]}},"delete":{"tags":["scheduled events"],"summary":"Delete scheduled events ","description":"Deletes a scheduled event.\n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:delete:scheduled_event`,`scheduler:delete:scheduled_event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"delete_scheduled_events","parameters":[{"name":"eventId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"If successful, this method returns an empty response body."},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n NotFound <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n Conflict <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n IntenralErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:delete:scheduled_event","scheduler:delete:scheduled_event:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:delete:scheduled_event","scheduler:delete:scheduled_event:admin"]}},"patch":{"tags":["scheduled events"],"summary":"Patch scheduled events","description":"Patches a scheduled event.\n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:update:scheduled_event`,`scheduler:update:scheduled_event:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"patch_scheduled_events","parameters":[{"name":"eventId","in":"path","description":"The opaque identifier of the scheduled event.","required":true,"schema":{"type":"string","example":"yev6yf64xot16c0cco50f31tb0"}}],"requestBody":{"description":"In the request body, it supplies the relevant portions of event resource.","content":{"application/json":{"schema":{"type":"object","properties":{"attendees":{"type":"array","items":{"type":"object","properties":{"attendee_id":{"type":"string","description":"The ID of attendee.","readOnly":true,"example":"z7q0q2962w8iyj87249zbi7t10"},"no_show":{"type":"boolean","description":"This field inidcates the attendee if shown in the scheduled event","example":false},"email":{"type":"string","description":"The attendee's email.","example":"abc@zoom.us"}}}},"status":{"type":"string","description":"The status of event: confirmed or cancelled.","example":"confirmed","enum":["confirmed","cancelled"]},"meeting_notes":{"maxLength":1024,"type":"string","description":"The meeting notes of the event.","example":"meeting notes"}},"description":"The portions of the event resource."}}}},"responses":{"204":{"description":"If successful, this method returns an event resource in the response body."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n InvalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n InternalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:update:scheduled_event","scheduler:update:scheduled_event:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:update:scheduled_event","scheduler:update:scheduled_event:admin"]}}},"/scheduler/schedules":{"get":{"tags":["schedules"],"summary":"List schedules","description":"Returns a list of all schedules.\n\n**Scopes:** `scheduler:read:admin`,`scheduler:read`\n\n**Granular Scopes:** `scheduler:read:list_schedule`,`scheduler:read:list_schedule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"list_schedules","parameters":[{"name":"to","in":"query","description":"The upper bound (exclusive) for an schedule start time from which to filter.","required":false,"schema":{"type":"string","example":"2011-06-03T10:00:00-07:00"}},{"name":"from","in":"query","description":"The lower bound (exclusive) for a schedule end time from which to filter.","required":false,"schema":{"type":"string","example":"2011-06-03T10:00:00-07:00"}},{"name":"page_size","in":"query","description":"The maximum number of the schedule returned on one result page.","required":false,"schema":{"type":"integer","example":250}},{"name":"next_page_token","in":"query","description":"The token that specifies which result page to return.","required":false,"schema":{"type":"string","example":"x3h1u4id4liffdyszsp8kpxl80"}},{"name":"show_deleted","in":"query","description":"Whether to include the deleted schedule (with status equals \"cancelled\") in the result.","required":false,"schema":{"type":"boolean","example":true}},{"name":"time_zone","in":"query","description":"The time zone in the response.","required":false,"schema":{"type":"string","example":"America/Los_Angeles"}}],"responses":{"200":{"description":"If successful, this method returns a response body with this structure.","content":{"application/json":{"schema":{"type":"object","properties":{"next_page_token":{"type":"string","description":"The token that accesses the next page of this result.","example":"aec369a4fce6ae655749b00fc7260bfd"},"items":{"type":"array","items":{"type":"object","properties":{"schedule_id":{"type":"string","description":"The unique identifier of the schedule.","example":"ygfx661g9x8dwcgeusdqhsplc0"},"add_on_type":{"type":"string","description":"The method of the type of `addOn`, such as Zoom meeting, Zoom phone, or offline.","example":"zoomMeeting","enum":["zoomMeeting","zoomPhone","offline"]},"availability_override":{"type":"boolean","description":"This field indicates the use of the availability rule.","example":false},"availability_rules":{"type":"array","description":"The availability of the time rule.","items":{"type":"object","properties":{"availability_id":{"type":"string","description":"The ID of this availability rule. ","example":"x3h1u4id4liffdyszsp8kpxl80"},"email":{"type":"string","description":"The owner of this availability rule. ","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"The timezone of this availability rule. ","example":"Asia/Shanghai"},"use_custom":{"type":"boolean","description":"This field indicates the use of custom availability instead of the rule.","example":false}}}},"booking_limit":{"maximum":96,"minimum":0,"type":"number","description":"This field sets the maximum events allowed per day.","example":0},"buffer":{"type":"object","properties":{"after":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time before the booked schedule.","example":0},"before":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time after the booked schedule.","example":0}},"description":"This field indicates the extra time before or after the booked schedule."},"capacity":{"maximum":200,"minimum":1,"type":"number","description":"This field indicates the maximum invitees per event.","example":1},"color":{"type":"string","description":"The hexadecimal color value of the event type's scheduling page.","example":"#fff200"},"creator":{"type":"object","properties":{"display_name":{"type":"string","description":"This field indicates the creator of the display name.","readOnly":true,"example":"name"},"email":{"type":"string","description":"This field indicates the creator's email address.","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"self":{"type":"boolean","description":"This field indicates if you created the schedule. The field is read-only.","readOnly":true,"example":true}},"description":"The creator of the schedule. The field is read-only."},"cushion":{"maximum":14340,"minimum":0,"type":"number","description":"This field indicates the minimum time before a schedule starts when the attendees can book.","example":0},"custom_fields":{"type":"array","description":"This field contains the custom question.","items":{"required":["enabled","format","include_other","name","position","required"],"type":"object","properties":{"custom_field_id":{"type":"string","description":"The ID of this question.","example":"0l6imf50il8jchyapni3p5ckc0"},"enabled":{"type":"boolean","description":"This field is true if the question the host creates is ON and visible on the event booking page. This field is false if it's OFF and invisible on the event booking page.","example":true},"format":{"type":"string","description":"The type of response that the invitee provides to the custom question. It can be one or multiple lines of text, a phone number, or single- or multiple-select.[`string text phone_number single_select multi_select`]","example":"text","enum":["text","string","phone_number","choices_one","choices_many","select"]},"include_other":{"type":"boolean","description":"This field is true if the custom question allows invitees to record a written response in addition to single-select or multiple-select type of responses. This field is false if the custom question does not allow invitees to record a written response.","example":false},"name":{"type":"string","description":"The custom question the host created for the event type.","example":"Please share anything that will help prepare for our meeting."},"position":{"type":"number","description":"The position of this question.","example":0},"required":{"type":"boolean","description":"This field is true if a response to the question created by the host is required for invitees to book the event type. This field is false if a response to the question created by the host is not required for invitees to book the event type.","example":false},"answer_choices":{"maxItems":50,"minItems":1,"type":"array","description":"The invitee’s option(s) for single_select or multi_select type of responses.","items":{"maxLength":8192,"minLength":1,"type":"string","description":"The invitee’s option for single_select or multi_select type of responses.","example":"At home"}}}}},"description":{"maxLength":8192,"type":"string","description":"The schedule's description.","example":"15 Minute Meeting"},"duration":{"maximum":1440,"minimum":15,"type":"number","description":"This field indicates the duration of the meeting in minutes, range: [1, 1440].","example":30},"end_date":{"type":"string","description":"The schedule's end date.","example":"2023-12-28"},"location":{"maxLength":1024,"type":"string","description":"The information for a custom location.","example":"AAA office"},"organizer":{"type":"object","properties":{"display_name":{"type":"string","description":"The organizer's display name.","readOnly":true,"example":"name"},"email":{"type":"string","description":"The organizer's email address.","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"self":{"type":"boolean","description":"This field indicates if this user is the organizer. This field is read-only.","readOnly":true,"example":true}},"description":"The organizer of the schedule. This field is read-only."},"secret":{"type":"boolean","description":"This field indicates if the event type is hidden on the owner's main scheduling page.","example":false},"slug":{"maxLength":256,"minLength":3,"type":"string","description":"The event portion of the event's URL that identifies a specific web page.","example":"sales"},"scheduling_url":{"type":"string","description":"The URL of the user’s scheduling site where invitees book this event type.","example":"https://scheduler.zoom.us/zoom_us/sales"},"start_date":{"type":"string","description":"The schedule's start date.","example":"2023-12-21"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"the timezone of this availability rule. ","example":"Asia/Shanghai"},"start_time_increment":{"maximum":720,"minimum":5,"type":"number","description":"This field sets the frequency of available time slots for invitees.","example":30},"status":{"type":"string","description":"The status of schedule: confirmed or cancelled.","example":"confirmed","enum":["confirmed","cancelled"]},"interval_type":{"type":"string","description":"The schedule time range. Unlimited means forever and fixed means using `startDate` and `endDate`.","example":"fixed","enum":["unlimited","fixed"]},"summary":{"maxLength":256,"type":"string","description":"The event's summary.","example":"daily meeting"},"schedule_type":{"type":"string","description":"This field indicates if the schedule type is \"one\" (belongs to an individual user) or \"multiple\".","example":"one","enum":["one","multiple"]},"updated":{"type":"string","description":"The moment the schedule type was updated.","readOnly":true,"example":"2023-12-21T06:18:32.087Z"},"active":{"type":"boolean","description":"This field indicates if the schedule is active","example":true}}}}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n InvalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n InternalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:read:admin","scheduler:read","scheduler:read:list_schedule","scheduler:read:list_schedule:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:read:admin","scheduler:read"],"x-granular-scopes":["scheduler:read:list_schedule","scheduler:read:list_schedule:admin"]}},"post":{"tags":["schedules"],"summary":"Insert schedules","description":"Creates a schedule\n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:write:insert_schedule`,`scheduler:write:insert_schedule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"insert_schedule","requestBody":{"description":"In the request body, it supplies the schedule resource properties.","content":{"application/json":{"schema":{"required":["availability_override","availability_rules","capacity","end","start","type"],"type":"object","properties":{"add_on_type":{"type":"string","description":"The method of the type of `addOn`, such as Zoom meeting, Zoom phone, or offline.","example":"zoomMeeting","enum":["zoomMeeting","zoomPhone","offline"]},"availability_override":{"type":"boolean","description":"This field indicates the use of the availability rule.","example":false},"availability_rules":{"type":"array","description":"The availability of the time rule.","items":{"type":"object","properties":{"availability_id":{"type":"string","description":"The ID of this availability rule. ","example":"x3h1u4id4liffdyszsp8kpxl80"},"email":{"type":"string","description":"The owner of this availability rule. ","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"the timezone of this availability rule. ","example":"Asia/Shanghai"},"use_custom":{"type":"boolean","description":"This field indicates the use of custom availability instead of the rule.","example":false}}}},"booking_limit":{"maximum":96,"minimum":0,"type":"number","description":"This field sets the maximum events allowed per day.","example":0},"buffer":{"type":"object","properties":{"after":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time before the booked schedule.","example":0},"before":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time after the booked schedule.","example":0}},"description":"This field indicates the extra time before or after the booked schedule."},"capacity":{"maximum":200,"minimum":1,"type":"number","description":"This field indicates the maximum invitees per event.","example":1},"color":{"type":"string","description":"The hexadecimal color value of the event type's scheduling page.","example":"#fff200"},"cushion":{"maximum":14340,"minimum":0,"type":"number","description":"This field indicates the minimum time before a schedule starts when the attendees can book.","example":0},"custom_fields":{"type":"array","description":"This field contains the custom question.","items":{"required":["enabled","format","include_other","name","position","required"],"type":"object","properties":{"custom_field_id":{"type":"string","description":"The ID of this question.","example":"0l6imf50il8jchyapni3p5ckc0"},"enabled":{"type":"boolean","description":"This field is true if the question the host creates is ON and visible on the event booking page. This field is false if it's OFF and invisible on the event booking page.","example":true},"format":{"type":"string","description":"The type of response that the invitee provides to the custom question. It can be one or multiple lines of text, a phone number, or single- or multiple-select.[`string text phone_number single_select multi_select`]","example":"text","enum":["text","string","phone_number","choices_one","choices_many","select"]},"include_other":{"type":"boolean","description":"This field is true if the custom question allows invitees to record a written response in addition to single-select or multiple-select type of responses. This field is false if the custom question does not allow invitees to record a written response.","example":false},"name":{"type":"string","description":"The custom question the host created for the event type.","example":"Please share anything that will help prepare for our meeting."},"position":{"type":"number","description":"The position of this question.","example":0},"required":{"type":"boolean","description":"This field is true if a response to the question created by the host is required for invitees to book the event type. This field is false if a response to the question created by the host is not required for invitees to book the event type.","example":false},"answer_choices":{"maxItems":50,"minItems":1,"type":"array","description":"The invitee's option(s) for `single_select` or `multi_select` type of responses.","items":{"maxLength":8192,"minLength":1,"type":"string","description":"The invitee's option for `single_select` or `multi_select` type of responses.","example":"At home"}}}}},"description":{"maxLength":8192,"type":"string","description":"The schedule's description.","example":"15 Minute Meeting"},"duration":{"maximum":1440,"minimum":15,"type":"number","description":"This field indicates the duration of the meeting in minutes, range: [1, 1440].","example":30},"end_date":{"type":"string","description":"The schedule's end date.","example":"2023-12-28"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"The timezone of this availability rule. ","example":"Asia/Shanghai"},"location":{"maxLength":1024,"type":"string","description":"The information for a custom location.","example":"AAA office"},"interval_type":{"type":"string","description":"The schedule time range. Unlimited means forever and fixed means using `startDate` and `endDate`.","example":"fixed","enum":["unlimited","fixed"]},"secret":{"type":"boolean","description":"This field indicates if the event type is hidden on the owner's main scheduling page.","example":false},"slug":{"maxLength":256,"minLength":3,"type":"string","description":"The event portion of the event's URL that identifies a specific web page.","example":"sales"},"start_date":{"type":"string","description":"The schedule's start date.","example":"2023-12-21"},"start_time_increment":{"maximum":720,"minimum":5,"type":"number","description":"This field sets the frequency of available time slots for invitees.","example":30},"summary":{"maxLength":256,"type":"string","description":"The event's summary.","example":"daily meeting"},"schedule_type":{"type":"string","description":"This field indicates if the schedule type is \"one\" (belongs to an individual user) or \"multiple\".","example":"one","enum":["one","multiple"]},"active":{"type":"boolean","description":"This field indicates if the schedule is active.","example":true}}}}}},"responses":{"201":{"description":"If successful, this method returns an schedule resource in the response body.","content":{"application/json":{"schema":{"type":"object","properties":{"schedule_id":{"type":"string","description":"The unique identifier of schedule.","example":"ygfx661g9x8dwcgeusdqhsplc0"},"add_on_type":{"type":"string","description":"The method of the type of `addOn`, such as Zoom meeting, Zoom phone, or offline.","example":"zoomMeeting","enum":["zoomMeeting","zoomPhone","offline"]},"availability_override":{"type":"boolean","description":"This field indicates the use of the availability rule.","example":false},"availability_rules":{"type":"array","description":"The availability of the time rule.","items":{"type":"object","properties":{"availability_id":{"type":"string","description":"The ID of this availability rule. ","example":"x3h1u4id4liffdyszsp8kpxl80"},"email":{"type":"string","description":"The owner of this availability rule. ","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"The timezone of this availability rule. ","example":"Asia/Shanghai"},"use_custom":{"type":"boolean","description":"This field indicates the use of custom availability instead of the rule.","example":false}}}},"booking_limit":{"maximum":96,"minimum":0,"type":"number","description":"This field sets the maximum events allowed per day.","example":0},"buffer":{"type":"object","properties":{"after":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time before the booked schedule.","example":0},"before":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time after the booked schedule.","example":0}},"description":"This field indicates the extra time before or after the booked schedule."},"capacity":{"maximum":200,"minimum":1,"type":"number","description":"This field indicates the maximum invitees per event.","example":1},"color":{"type":"string","description":"The hexadecimal color value of the event type's scheduling page.","example":"#fff200"},"creator":{"type":"object","properties":{"display_name":{"type":"string","description":"This field indicates the creator of the display name.","readOnly":true,"example":"name"},"email":{"type":"string","description":"This field indicates the creator's email address.","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"self":{"type":"boolean","description":"This field indicates if you created the schedule. The field is read-only.","readOnly":true,"example":true}},"description":"The creator of the schedule. The field is read-only."},"cushion":{"maximum":14340,"minimum":0,"type":"number","description":"This field indicates the minimum time before a schedule starts when the attendees can book.","example":0},"custom_fields":{"type":"array","description":"This field contains the custom question.","items":{"required":["enabled","format","include_other","name","position","required"],"type":"object","properties":{"custom_field_id":{"type":"string","description":"The ID of this question.","example":"0l6imf50il8jchyapni3p5ckc0"},"enabled":{"type":"boolean","description":"This field is true if the question the host creates is ON and visible on the event booking page. This field is false if it's OFF and invisible on the event booking page.","example":true},"format":{"type":"string","description":"The type of response that the invitee provides to the custom question. It can be one or multiple lines of text, a phone number, or single- or multiple-select.[`string text phone_number single_select multi_select`]","example":"text","enum":["text","string","phone_number","choices_one","choices_many","select"]},"include_other":{"type":"boolean","description":"This field is true if the custom question allows invitees to record a written response in addition to single-select or multiple-select type of responses. This field is false if the custom question does not allow invitees to record a written response.","example":false},"name":{"type":"string","description":"The custom question the host created for the event type.","example":"Please share anything that will help prepare for our meeting."},"position":{"type":"number","description":"The position of this question.","example":0},"required":{"type":"boolean","description":"This field is true if a response to the question created by the host is required for invitees to book the event type. This field is false if a response to the question created by the host is not required for invitees to book the event type.","example":false},"answer_choices":{"maxItems":50,"minItems":1,"type":"array","description":"The invitee's option(s) for single_select or multi_select type of responses.","items":{"maxLength":8192,"minLength":1,"type":"string","description":"The invitee's option for single_select or multi_select type of responses.","example":"At home"}}}}},"description":{"maxLength":8192,"type":"string","description":"The schedule's description.","example":"15 Minute Meeting"},"duration":{"maximum":1440,"minimum":15,"type":"number","description":"This field indicates the duration of the meeting in minutes, range: [1, 1440].","example":30},"end_date":{"type":"string","description":"The schedule's end date.","example":"2023-12-20"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"the timezone of this availability rule. ","example":"Asia/Shanghai"},"location":{"maxLength":1024,"type":"string","description":"The information for a custom location.","example":"AAA office"},"organizer":{"type":"object","properties":{"display_name":{"type":"string","description":"The organizer's display name.","readOnly":true,"example":"name"},"email":{"type":"string","description":"The organizer's email address.","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"self":{"type":"boolean","description":"This field indicates if this user is the organizer. This field is read-only.","readOnly":true,"example":true}},"description":"The organizer of the schedule. This field is read-only."},"secret":{"type":"boolean","description":"This field indicates if the event type is hidden on the owner's main scheduling page.","example":false},"slug":{"maxLength":256,"minLength":3,"type":"string","description":"The event portion of the event's URL that identifies a specific web page.","example":"sales"},"scheduling_url":{"type":"string","description":"The URL of the user’s scheduling site where invitees book this event type.","example":"https://scheduler.zoom.us/zoom_us/sales"},"start_date":{"type":"string","description":"The schedule's start date.","example":"2023-12-21"},"start_time_increment":{"maximum":720,"minimum":5,"type":"number","description":"This field sets the frequency of available time slots for invitees.","example":30},"status":{"type":"string","description":"The status of schedule: confirmed or cancelled.","example":"confirmed","enum":["confirmed","cancelled"]},"interval_type":{"type":"string","description":"The schedule time range. Unlimited means forever and fixed means using `startDate` and `endDate`.","example":"fixed","enum":["unlimited","fixed"]},"summary":{"maxLength":256,"type":"string","description":"The event's summary.","example":"daily meeting"},"schedule_type":{"type":"string","description":"This field indicates if the schedule type is \"one\" (belongs to an individual user) or \"multiple\".","example":"one","enum":["one","multiple"]},"updated":{"type":"string","description":"The moment the schedule type was updated.","readOnly":true,"example":"2023-12-21T06:18:32.087Z"},"active":{"type":"boolean","description":"This field indicates if the schedule is active.","example":true}}}}}},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n InvalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit  <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n InternalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:write:insert_schedule","scheduler:write:insert_schedule:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:write:insert_schedule","scheduler:write:insert_schedule:admin"]}}},"/scheduler/schedules/{scheduleId}":{"get":{"tags":["schedules"],"summary":"Get schedules","description":"Returns a schedule.\n\n**Scopes:** `scheduler:read:admin`,`scheduler:read`\n\n**Granular Scopes:** `scheduler:read:get_schedule`,`scheduler:read:get_schedule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"get_schedule","parameters":[{"name":"scheduleId","in":"path","description":"The schedule's unique identifier.","required":true,"schema":{"type":"string","example":"aec369a4fce6ae655749b00fc7260bfd"}}],"responses":{"200":{"description":"If successful, this method returns an schedule resource in the response body.","content":{"application/json":{"schema":{"type":"object","properties":{"schedule_id":{"type":"string","description":"The unique identifier of a schedule.","example":"ygfx661g9x8dwcgeusdqhsplc0"},"add_on_type":{"type":"string","description":"The method of the type of `addOn`, such as Zoom meeting, Zoom phone, or offline.","example":"zoomMeeting","enum":["zoomMeeting","zoomPhone","offline"]},"availability_override":{"type":"boolean","description":"This field indicates the use of the availability rule.","example":false},"availability_rules":{"type":"array","description":"The availability of the time rule.","items":{"type":"object","properties":{"availability_id":{"type":"string","description":"The ID of this availability rule. ","example":"x3h1u4id4liffdyszsp8kpxl80"},"email":{"type":"string","description":"The owner of this availability rule. ","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of available time rule."},"time_zone":{"type":"string","description":"The timezone of this availability rule. ","example":"Asia/Shanghai"},"use_custom":{"type":"boolean","description":"This field indicates the use of custom availability instead of the rule.","example":false}}}},"booking_limit":{"maximum":96,"minimum":0,"type":"number","description":"This field sets the maximum events allowed per day.","example":0},"buffer":{"type":"object","properties":{"after":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time before the booked schedule.","example":0},"before":{"maximum":240,"minimum":0,"type":"number","description":"This field adds the time after the booked schedule.","example":0}},"description":"This field indicates the extra time before or after the booked schedule."},"capacity":{"maximum":200,"minimum":1,"type":"number","description":"This field indicates the maximum invitees per event.","example":1},"color":{"type":"string","description":"The hexadecimal color value of the event type's scheduling page.","example":"#fff200"},"creator":{"type":"object","properties":{"display_name":{"type":"string","description":"This field indicates the creator of the display name.","readOnly":true,"example":"name"},"email":{"type":"string","description":"This field indicates the creator's email address.","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"self":{"type":"boolean","description":"This field indicates if you created the schedule. The field is read-only.","readOnly":true,"example":true}},"description":"The creator of the schedule. The field is read-only."},"cushion":{"maximum":14340,"minimum":0,"type":"number","description":"This field indicates the minimum time before a schedule starts when the attendees can book.","example":0},"custom_fields":{"type":"array","description":"This field contains the custom question.","items":{"required":["enabled","format","include_other","name","position","required"],"type":"object","properties":{"custom_field_id":{"type":"string","description":"The ID of this question.","example":"0l6imf50il8jchyapni3p5ckc0"},"enabled":{"type":"boolean","description":"This field is true if the question the host creates is ON and visible on the event booking page. This field is false if it's OFF and invisible on the event booking page.","example":true},"format":{"type":"string","description":"The type of response that the invitee provides to the custom question. It can be one or multiple lines of text, a phone number, or single- or multiple-select.[`string text phone_number single_select multi_select`]","example":"text","enum":["text","string","phone_number","choices_one","choices_many","select"]},"include_other":{"type":"boolean","description":"This field is true if the custom question allows invitees to record a written response in addition to single-select or multiple-select type of responses. This field is false if the custom question does not allow invitees to record a written response.","example":false},"name":{"type":"string","description":"The custom question the host created for the event type.","example":"Please share anything that will help prepare for our meeting."},"position":{"type":"number","description":"The position of this question.","example":0},"required":{"type":"boolean","description":"This field is true if a response to the question created by the host is required for invitees to book the event type. This field is false if a response to the question created by the host is not required for invitees to book the event type.","example":false},"answer_choices":{"maxItems":50,"minItems":1,"type":"array","description":"The invitee's option(s) for single_select or multi_select type of responses.","items":{"maxLength":8192,"minLength":1,"type":"string","description":"The invitee's option for single_select or multi_select type of responses.","example":"At home"}}}}},"description":{"maxLength":8192,"type":"string","description":"The schedule's description.","example":"15 Minute Meeting"},"duration":{"maximum":1440,"minimum":15,"type":"number","description":"This field indicates the duration of the meeting in minutes, range: [1, 1440].","example":30},"end_date":{"type":"string","description":"The schedule's end date.","example":"2023-12-28"},"location":{"maxLength":1024,"type":"string","description":"The information for a custom location.","example":"AAA office"},"organizer":{"type":"object","properties":{"display_name":{"type":"string","description":"The organizer's display name.","readOnly":true,"example":"name"},"email":{"type":"string","description":"The organizer's email address.","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"self":{"type":"boolean","description":"This field indicates if this user is the organizer. This field is read-only.","readOnly":true,"example":true}},"description":"The organizer of the schedule. This field is read-only."},"secret":{"type":"boolean","description":"This field indicates if the event type is hidden on the owner's main scheduling page.","example":false},"slug":{"maxLength":256,"minLength":3,"type":"string","description":"The event portion of the event's URL that identifies a specific web page.","example":"sales"},"scheduling_url":{"type":"string","description":"The URL of the user's scheduling site where invitees book this event type.","example":"https://scheduler.zoom.us/zoom_us/sales"},"start_date":{"type":"string","description":"The schedule's start date.","example":"2023-12-21"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date and time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date and time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of the available time rule."},"time_zone":{"type":"string","description":"the timezone of this availability rule. ","example":"Asia/Shanghai"},"start_time_increment":{"maximum":720,"minimum":5,"type":"number","description":"This field sets the frequency of available time slots for invitees.","example":30},"status":{"type":"string","description":"The status of schedule: confirmed or cancelled.","example":"confirmed","enum":["confirmed","cancelled"]},"interval_type":{"type":"string","description":"The schedule time range. Unlimited means forever and fixed means using `startDate` and `endDate`.","example":"fixed","enum":["unlimited","fixed"]},"summary":{"maxLength":256,"type":"string","description":"The event's summary.","example":"daily meeting"},"schedule_type":{"type":"string","description":"This field indicates if the schedule type is **one** (belongs to an individual user) or **multiple**.","example":"one","enum":["one","multiple"]},"updated":{"type":"string","description":"The moment the schedule type was updated.","readOnly":true,"example":"2023-12-21T06:18:32.087Z"},"active":{"type":"boolean","description":"This field indicates if the schedule is active.","example":true}}}}}},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401` <br>\n Unauthorized <br>\n"},"404":{"description":"**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `404` <br>\n NotFound <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n InternalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:read:admin","scheduler:read","scheduler:read:get_schedule","scheduler:read:get_schedule:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:read:admin","scheduler:read"],"x-granular-scopes":["scheduler:read:get_schedule","scheduler:read:get_schedule:admin"]}},"delete":{"tags":["schedules"],"summary":"Delete schedules","description":"Deletes a schedule.\n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:delete:delete_schedule`,`scheduler:delete:delete_schedule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"delete_schedules","parameters":[{"name":"scheduleId","in":"path","description":"The unique identifier of the schedule.","required":true,"schema":{"type":"string","example":"aec369a4fce6ae655749b00fc7260bfd"}}],"responses":{"204":{"description":"If successful, this method returns an empty response body."},"400":{"description":"**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `400` <br>\n invalidArgument <br>\n"},"401":{"description":"**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n **Error Code:** `401 ` <br>\n unauthorized <br>\n"},"409":{"description":"**HTTP Status Code:** `409` <br>\n Conflict  \n\n **Error Code:** `409` <br>\n conflict <br>\n"},"429":{"description":"**HTTP Status Code:** `429` <br>\n Too Many Requests  \n\n **Error Code:** `429` <br>\n user ratelimit  <br>\n"},"500":{"description":"**HTTP Status Code:** `500` <br>\n Internal Server Error  \n\n **Error Code:** `500` <br>\n internalErr <br>\n"}},"security":[{"openapi_oauth":["scheduler:write:admin","scheduler:write","scheduler:delete:delete_schedule","scheduler:delete:delete_schedule:admin"],"openapi_authorization":[]}],"x-extensions":{"x-fixVersion":"ZmailServer-May-2024","x-permissions":[],"x-macro-scopes":["scheduler:write:admin","scheduler:write"],"x-granular-scopes":["scheduler:delete:delete_schedule","scheduler:delete:delete_schedule:admin"]}},"patch":{"tags":["schedules"],"summary":"Patch schedules","description":"Patches a schedule. \n\n**Scopes:** `scheduler:write:admin`,`scheduler:write`\n\n**Granular Scopes:** `scheduler:update:patch_schedule`,`scheduler:update:patch_schedule:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`","operationId":"patch_schedule","parameters":[{"name":"scheduleId","in":"path","description":"The schedule's unique identifier.","required":true,"schema":{"type":"string","example":"aec369a4fce6ae655749b00fc7260bfd"}}],"requestBody":{"description":"In the request body, it supplies the relevant portions of a schedule resource, according to the rules of patch semantics.","content":{"application/json":{"schema":{"type":"object","properties":{"add_on_type":{"type":"string","description":"The method of `addOn`, such as Zoom meeting, Zoom phone, and offline.","example":"zoomMeeting","enum":["zoomMeeting","zoomPhone","offline"]},"availability_override":{"type":"boolean","description":"This field indicates the use of the availability rule.","example":false},"availability_rules":{"type":"array","description":"The availability time rule.","items":{"type":"object","properties":{"email":{"type":"string","description":"The owner of this availability rule. ","example":"easonfsxsysks3lgchitiw@scheduler.zoom.us"},"availability_id":{"type":"string","description":"The ID of this availability rule. ","example":"x3h1u4id4liffdyszsp8kpxl80"},"segments":{"type":"array","description":"The available time segments of the event.","items":{"type":"object","properties":{"start":{"type":"string","description":"The start date-time of the segment.","example":"2023-12-21T06:00:00Z"},"end":{"type":"string","description":"The end date-time of the segment.","example":"2023-12-21T06:00:00Z"}}}},"segments_recurrence":{"type":"object","properties":{"sun":{"type":"array","description":"Sundays","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"mon":{"type":"array","description":"Monday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"tue":{"type":"array","description":"Tuesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"wed":{"type":"array","description":"Wednesday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"thu":{"type":"array","description":"Thursday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"fri":{"type":"array","description":"Friday ","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}},"sat":{"type":"array","description":"Saturday","items":{"type":"object","properties":{"end":{"type":"string","description":"The end time of this day.","example":"17:00"},"start":{"type":"string","description":"The start time of this day.","example":"09:00"}}}}},"description":"The week of available time rule."},"time_zone":{"type":"string","description":"The timezone of this availability rule. ","example":"Asia/Shanghai"},"use_custom":{"type":"boolean","description":"This field indicates whether to use the custom availability instead of the rule.","example":false}}}},"booking_limit":{"maximum":96,"minimum":0,"type":"number","description":"This field sets the maximum events allowed per day.","example":0},"buffer":{"type":"object","properties":{"after":{"maximum":240,"minimum":0,"type":"number","description":"This field adds time before the booked schedule.","example":0},"before":{"maximum":240,"minimum":0,"type":"number","description":"This field adds time after the booked schedule.","example":0}},"description":"The extra time before or after booked schedule."},"capacity":{"maximum":200,"minimum":1,"type":"number","description":"The maximum invitees per event.","example":1},"color":{"type":"string","description":"The hexadecimal color value of the event type's scheduling page.","example":"#fff200"},"cushion":{"maximum":14340,"minimum":0,"type":"number","description":"The minimum time before a schedule starts that attendees can book.","example":0},"custom_fields":{"type":"array","description":"The custom question.","items":{"required":["enabled","format","include_other","name","position","required"],"type":"object","properties":{"enabled":{"type":"boolean","description":"If the question created by the host is turned ON and visible on the event booking page, then it's true. If it's turned OFF and invisible on the event booking page,  then it's false.","example":true},"format":{"type":"string","description":"The type of response that the invitee provides to the custom question. It can be one or multiple lines of text, a phone number, or single- or multiple-select.[`string text phone_number single_select multi_select`]","example":"text","enum":["text","string","phone_number","choices_one","choices_many","select"]},"custom_field_id":{"type":"string","description":"The ID of this question","example":"0l6imf50il8jchyapni3p5ckc0"},"include_other":{"type":"boolean","description":"If the custom question lets invitees record a written response, in addition to single-select or multiple-select type of responses, then it's true. Otherwise, it's false.","example":false},"name":{"type":"string","description":"The custom question that the host created for the event type.","example":"Please share anything that will help prepare for our meeting."},"position":{"type":"number","description":"The position of this question.","example":0},"required":{"type":"boolean","description":"If a response to the question, created by the host, is required for invitees to book the event type, then it's true. if it's not required, it's false.","example":false},"answer_choices":{"maxItems":50,"minItems":1,"type":"array","description":"The invitee's option(s) for single_select or multi_select type of responses.","items":{"maxLength":8192,"minLength":1,"type":"string","description":"The invitee's option for single_select or multi_select type of responses.","example":"At home"}}}}},"description":{"maxLength":8192,"type":"string","description":"The schedule's description","example":"15 M
[...]
